/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

$media-queries-supported : true;

// Import all SASS imports
@import 'imports';


.container {
/*
    max-width: $maxwidth;
    margin: 0 auto;
*/
}

h1,h2 {
    color: $secondarycolor;
}

section {
    padding: $baselineheight*2 0;
    border-top: 1px dotted $lighterneutralcolor;
    background: #e6eff5;

    &.alt {
        background: $white;
    }
}



.form-add {
    @include zero;
    fieldset {
        @include zero;
    }
}

.entries {
    list-style: none;
    li {
        margin-bottom: $baselineheight/2;
    }
}

 
footer[role="contentinfo"] {
    padding-top: $baselineheight*1.5;
    .icon-heart {
        color: $secondarycolor;
    }
}


code {
    background: #e6eff5;
    background: white;
    padding: 8px 4px;
    border-radius: $borderradius;
}


.lead {
/*     color: $lightneutralcolor; */
}

.payoff {
    position: relative;

    .branding {
        position: absolute;
        top: -72px;
        left: -84px;
        z-index: 1;
    }
}

.alert {
    text-align: center;
    margin-bottom : 0;
}