/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

$media-queries-supported : true;

// Import all SASS imports
@import 'imports';

.dim {
    color: $lightneutralcolor;    

    a {
    color: $lightneutralcolor;    
    
    &:visited {
    color : $lightneutralcolor; }
    
    &:hover {
    color : $linkcolorhover; }
    
    &:focus {
    color : $linkcolorfocus; }
    }    
}

.meta {
    @include font-size(14);

    ul {
        list-style: none;
        @include zero;
        @include font-size(14);
        
        li {
            padding: $baselineheight/2 0;
            border-top: 1px $borderstyle $bordercolor;
        }        
    }
}             

.help-text {
    @extend abbr[title];
}

//.icon-circle-blank,
.icon-circle {
    @include font-size(13); // Smaller
}




.panel  {
/*     float: left;     */
    box-sizing: border-box;
    width: $panelwidth;        
    margin-left: $navwidth;    

    .panel-title {
        padding:  $baselineheight $gutterwidth*1.5 $baselineheight $gutterwidth*1.5; 
        
        h2 {
            @include zero;
            text-transform: capitalize;        
            span {
                @extend .dim;
            }
        }
/*
        .t {
            float: right;
            width: 15em;
        }
*/
    }

.panel-content {

    padding: 0 $gutterwidth;

    // Common styles

    ul.view {
        list-style: none;
        @include zero;

        > li {
            @include zero;
            
            .item-inner {
                background: $white;
                @include transition(background-color .1s ease-out);
                @include box-shadow(0 0 4px $lightneutralcolor);
                padding: $baselineheight/2 $gutterwidth*1.5; 

                // Title
        
                > h3 {
                    text-transform: capitalize;
                    a { display: block; }
                }
    
                .favicon {
                    float: left;
                    margin: 4px 0 0 (-$gutterwidth);
                }
            }        

            // Feeds
            
            &.status-disabled {

                .item-inner {
                    background-color: lighten($secondarycolor, 57%);
                    h3 {
                        text-decoration: line-through;
                    }
                }                
                
            }

        }
        
        .more {
            clear:both;
            text-align: center;
            padding: $baselineheight/2 0 0 0;        
            form {
                @include zero;
            }
        }        

    }

    // List view

    ul.list-view {

        //background: $white;
    
        > li {        
            .item-inner {
                border-bottom: 1px dotted $lighterneutralcolor;                       
            }

            &:last-child {
                .item-inner { border-bottom: none; }
            }

            // Read, unread, etc.
            
            .meta {                
                .icon-saved,
                .icon-unread {
                    margin-right: $gutterwidth/4;
                }            
  
                .icon-saved {
                    display: none;
                }
            } 
            
            // Entries
            
            &.status-read {
                .item-inner {
                    h3 {
                        a:link {
                            color: rgba($linkcolor, .7);
                        }
                        a:hover {
                            color: $linkcolorhover;
                        }
                    }                    
                    .meta .icon-unread {
                        display: none;
                    }
                }                
            }

            &.status-saved {
                .meta .icon-saved {
                    display: inline;
                }
            }

            &.current {
                .item-inner {                    
                    background: $white url(../images/rarr.png) left 14px  no-repeat;
/*
                    background-image: url(../images/rarr.png);
                    background-position: left 14px; 
                    background-repeat:;
*/
                    h3 {
                        a {
                            color: $secondarycolor;
                        }
                    }
                }
                    
            }


        }
    }

    // Grid view

    ul.grid-view {
        @include clearfix;
    
        > li.entry, 
        > li.feed  {
            @include box-sizing(border-box);
            padding-right: $gutterwidth/2;            
            float: left;
            width: 33.33333%;
            margin-bottom: $baselineheight/2;
            
            .item-inner {
                position: relative;                    
                @include box-shadow(0 0 4px $lightneutralcolor);                
                min-height: 96px; // Two rows for h3
                border-radius: $borderradius;
/*                 background-clip: content-box; */
                
                .meta {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    position: absolute;
                    background: rgba($lightestneutralcolor, .8);                    
                    padding: $baselineheight/4 0 $baselineheight/4 $gutterwidth*1.5;
                    border-bottom-right-radius: $borderradius;
                    border-bottom-left-radius: $borderradius;
                    
                }
            }

        }

        

    }


}


}


nav { 
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 14em;
    width: $navwidth;   
    background: $navigationbackgroundcolor;
    
    @include box-shadow(inset -3px 0 2px -2px $neutralcolor);    

    ul {

        @include zero;
        list-style: none;
                
        li {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;            

            &.sep {
                margin-top: $baselineheight/2;
            }

            &.branding {
                color: $white;
                background: darken($primarycolor, 10%);                        
                padding: $baselineheight/4 $baselineheight;   
                @include font-size(14);
                text-transform: uppercase;
                letter-spacing: 2px;                
            }
    
            a {
                display: block;
                @include font-size(14);
                padding: $baselineheight/4 $baselineheight;
                text-transform: capitalize;
            }
            
            
            span {
                width: 1em;
                text-align: center;
                display: inline-block;                    
            }

        }

        &.unread li.filter-unread,
        &.saved li.filter-saved,
        &.feeds li.filter-feeds,
        &.all li.filter-all,
        li.filter-group {
            a {
                background: $neutralcolor;                    
                color: $lightestneutralcolor;
                
                &:hover {
/*                     color: $navigationlinkcolorhover;  */
                    //background: $neutralcolor url(../images/nav-rarr-h.png) left 7px no-repeat; 
                }    
                                                  
            }
        }

                
    }
  
}
/*

h1, h2 {
    color: $secondarycolor;
}
*/

  
footer[role="contentinfo"] {
    text-align: center;
    @include zero;
    margin: $baselineheight*3 0 $baselineheight $navwidth;
    .icon-heart {
        color: $secondarycolor;
        cursor: help;
    }
    
    .payoff {
        margin-bottom: $baselineheight/2;
    }

    .credits {
        @include font-size(14);
    }
}

dl {
    @include zero;
    @include font-size(14);

    dd, dt {
    }
    
    dt {
        margin: $baselineheight 0 $baselineheight/2 0;
        text-transform: uppercase;            
        letter-spacing: 2px
    }

    dd {
        display: inline;
        margin: 0  $gutterwidth/2 0 0;
        @extend .dim;
    }
}
    
// A keyboard shortcut

kbd {
    padding: 2px 0;
    width: 2em;
    display: inline-block;
    background: $lightneutralcolor; //lighten($primarycolor, 10%); ;
    text-align: center;                            
    border-radius: $borderradius;
    color: $white;
}


pre {
    background: $lightestneutralcolor;    
    border-radius: $borderradius;
    padding: 8px 4px;
}

code {
}


.alert {
    display: none;
    text-align: center;
/*
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
*/
//    box-sizing: border-box;
    margin: 0 0 0 $navwidth;
}

.notice {
    text-align: center;
    margin: 25% 0 25% 0;
    
    @extend .dim;
    
    i {
        display: block;
        opacity: .6;
        margin:$baselineheight  0  0;        
    }
    
}


// =flash ================================

.flash {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -4em;    
    margin-top: -4em;    
    
    z-index: 2;
    width: 8em;
    padding: $baselineheight*2 $gutterwidth*2;

    border-radius: $borderradius;    
    background: rgba(100%, 100%, 100%, .8);    
    //opacity: .8;
    
    //border: 1px solid $lighterneutralcolor;
    
    text-align: center;    
}

.loading {
    text-align: center;    
    color: $neutralcolor;
    margin: $baselineheight 0;
}

// =entry ================================

article {
    display: none; // Initally hidden
    padding: $baselineheight/2 0 $baselineheight/2 0;    
    @include clearfix;

    > aside, .content {
        float: left;                
    }

    > aside {
        width: 20%;     
    }
    
    .content {        
        max-width: 46em;
        width: 80%;
        float: left;
        box-sizing: border-box;
        padding-right: $gutterwidth*2;
    
        // Headings

        // ???
        
        // Other block-level elements 
        
        p, blockquote, figure, table, ul, ol, dl {
            @include zero;
            margin: $baselineheight/2 0;
        }
    
        table {
            @extend .table;
        }
        
        blockquote { 
            color: $secondarycolor;        
            margin: $baselineheight/2 $gutterwidth $baselineheight/2 $gutterwidth;
/*             font-style: italic; */
            p:last-child {
                margin-bottom: 0;
            }
        }
    
        // List items 
        
        li, dd, dt {
            @include zero;
            margin-left: $gutterwidth;                
        }
    
        // Images
        
        img, figure {
        }
        
        // Misc. 
        
        hr {
            margin: $baselineheight 0;        
        }
        
    }
    
}
        
        


.module {
/*     margin: $baselineheight*4 0 0 0;     */
/*     text-align: center; */

    h1 {
        margin: 0 0 $baselineheight 0;        
    }

/*
    form {
        padding-top: $baselineheight;
        background: $lightestneutralcolor;
        border-radius: $borderradius;
    }
*/
}

.boxed {
    
    .well {
       min-height: $baselineheight*8;        
    }
}


.container-inner {
    margin: $baselineheight*3 0 0 0;
}

/*
.subhead {
    @extend .dim;
    margin: 0 0 $baselineheight*2 0;

    
}
*/

// Forms

#field-self-link {
    width: 100%;
}
