/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

$media-queries-supported : true;

// Import all SASS imports
@import 'imports';

.dim {
    color: $lightneutralcolor;    

    a {
    color: $lightneutralcolor;    
    
    &:visited {
    color : $lightneutralcolor; }
    
    &:hover {
    color : $linkcolorhover; }
    
    &:focus {
    color : $linkcolorfocus; }
    }    
}


.container {
    @include clearfix;
    background: #C6C2C2 url(../images/faux-nav-column.png) left top repeat-y;
    background-size: $panel1width+.5% auto;  /* +1 to avoid scrollToFixed round errors */
}

.panel  {
    float: left;    
    box-sizing: border-box;

    .panel-title {
        padding:  $baselineheight/2 $gutterwidth*1.5 $baselineheight/2 $gutterwidth*1.5; 
        
        h2 {
            @include zero;
            text-transform: capitalize;
        }
/*
        .t {
            float: right;
            width: 15em;
        }
*/
    }
}

.panel-1 {
    width: $panel1width;    
}

.panel-2 {
    width: $panel2width;    
    
    background: $white;
    border-right: 1px solid $lighterneutralcolor;
}

.panel-3  {
    width: $panel3width;
}



header {
    background: $navigationbackgroundcolor;
    
    
    nav ul {
        @include zero;
        margin-top: $baselineheight/2;

        list-style: none;
                
        li {
            
            &.sep {
                margin-top: $baselineheight/2;
            }

            a {
                display: block;
                @include font-size(14);
                padding: $baselineheight/4 $baselineheight;
/*                 border-bottom: 1px solid darken($primarycolor, 10%); */
                text-transform: capitalize;
            }
        }

        &.unread li.filter-unread,
        &.starred li.filter-starred,
        li.filter-group {
            background: darken($navigationbackgroundcolor, 10%);
        }

                
    }

/*
    dl {
        @include zero;
        margin-top: $baselineheight/2;        

        dd, dt {
            margin: $baselineheight/4 $baselineheight;
            //color: #E6EFF5;   

        }
        
        dt {
            color: #E6EFF5; //lighten($primarycolor, 10%);
            text-transform: uppercase;            
            @include font-size(12);
            letter-spacing: 2px
        }

        dd {
            color: $white;
            @include font-size(14);
            
            kbd {
                width: 1.5em;
                display: inline-block;
                background: lighten($primarycolor, 10%); ;
                text-align: center;                            
                border-radius: $borderradius;
                color: $white;
            }
        }
    }
*/
                
    
    .branding {
        color: $white;

        //color: #E6EFF5;   
        padding: $baselineheight/4 $baselineheight;   
        @include font-size(14);
        background: darken($navigationbackgroundcolor, 10%);
        
        text-transform: uppercase;
        letter-spacing: 2px;
        
        i{
        }
             
    }
}
/*

h1, h2 {
    color: $secondarycolor;
}
*/

/*
section {
    padding: $baselineheight*2 0;
    border-top: 1px dotted $lighterneutralcolor;
    background: #e6eff5;

    &.alt {
        background: $white;
    }
}


 
*/
 
.entries {

/*     background: $white; */

/*     border-left: 1px solid $lighterneutralcolor; */


    ul {
        list-style: none;
        @include zero;
    
    
        li {
            @include zero;
            padding: $baselineheight/2 $gutterwidth*1.5 $baselineheight/2 $gutterwidth*1.5;        
            border-bottom: 1px dotted $lighterneutralcolor;

            //background: $white;
            //@include transition(background, 200ms, ease-out);
            
            img {
                margin-top: 4px;
                margin-left: -$gutterwidth;
                float: left;
            }
            
            &.current {
                background: #E6EFF5;
            }

            &.status-read {
                opacity: .8;                
                //background: $lightestneutralcolor;
            }

            &.status-saved {
                //background: $secondarycolor;
                img {
/*                     visibility: hidden; */                    
                    &:after {
                    }                   
                }
            }

    
/*
            .meta {
                color: $lightneutralcolor;        
            }             
*/
        }
    }

    .more {
        text-align: center;
        padding: $baselineheight/2;
    }

}
 
footer[role="contentinfo"] {
    text-align: center;
    @include zero;
    margin-bottom: $baselineheight;
    .icon-heart {
        color: $secondarycolor;
    }
    
    .payoff {
        margin-bottom: $baselineheight/2;
    }

    .credits {
        @include font-size(14);
    }
    

/*     @extend .dim; */

    dl {
        @include zero;
        margin: $baselineheight*3  0;        
        @include font-size(14);

        dd, dt {
        }
        
        dt {
            margin: $baselineheight 0 $baselineheight/2 0;
/*             color: #E6EFF5; //lighten($primarycolor, 10%); */
            text-transform: uppercase;            
            letter-spacing: 2px
        }

        dd {

            display: inline;
            margin: 0 $gutterwidth/4;
/*             color: $white; */
/*             @include font-size(14); */
            @extend .dim;
            

        }
    }
        
}

// A keyboard shortcut

kbd {
    padding: 2px 0;
    width: 2em;
    display: inline-block;
    background: $lightneutralcolor; //lighten($primarycolor, 10%); ;
    text-align: center;                            
    border-radius: $borderradius;
    color: $white;
}

/*
code {
    background: #e6eff5;
    background: white;
    padding: 8px 4px;
    border-radius: $borderradius;
}
*/




.alert {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}


// =flash ================================

.flash {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4em;    
    margin-top: -4em;    
    
    z-index: 2;
    width: 8em;
    padding: $baselineheight*2 $gutterwidth*2;

    border-radius: $borderradius;    
    background: rgba(100%, 100%, 100%, .8);    
    //opacity: .8;
    
    //border: 1px solid $lighterneutralcolor;
    
    text-align: center;    
}

.loading {
    text-align: center;    
    color: $neutralcolor;
    padding: $baselineheight 0;
}

// Feed entry   formatting

article {
/*         @include hidden; */

    background: $white;
 
    
    @include box-shadow(0 3px $wellshadowblur $lightneutralcolor); 


    
    background: $white;
    
    box-sizing: border-box;

/*     display: none;  */
    padding: $baselineheight*2 $gutterwidth*2;
    
/*     border: 1px solid $lighterneutralcolor; */
/*     border-radius: $borderradius; */



    p, blockquote, table, ul, ol, dl {
        @include zero;
        margin: $baselineheight/2 0;
    }

/*
    h1 {
        @extend h2;
    }
*/
    
    li, dd, dt {
        margin-left: $gutterwidth*2;                
    }

    blockquote {
/*         @include font-size(18);                        */
/*         font-style: italic; */

        color: $secondarycolor;        
        margin: $baselineheight/2 $gutterwidth*2 $baselineheight/2 $gutterwidth*2 ; 
        
/*
        i, em {
            font-style: normal;
        }
*/
        
        p:last-child {
            margin-bottom: 0;
        }
    }
    
    hr {
        margin: $baselineheight 0;        
    }

    figure {
        display: block;
        margin: 0 auto $baselineheight/2 auto;        
        border: $baselineheight/2 solid $white;
        
        // Tracking inages, hide
/*
        &[height='1'],
        &[width='1'] {
            @include hidden;
        }
*/
        
    }


    img, figure {
/*         display: block; */
/*         margin: 0 auto $baselineheight auto;         */
/*         border: $baselineheight/2 solid $lighterneutralcolor; */
        
        // Tracking inages, hide
/*
        &[height='1'],
        &[width='1'] {
            @include hidden;
        }
*/
        
    }
}
        
        
.scrollable {
/*     width: 520px; clear: both; margin: 20px 0 10px;  */
    clear: both; 
    /* Position scollbar on top of scrollable content */
    position: relative; 

    .viewport {
         // Redefined via JS
         min-height: $baselineheight*10;          
         overflow: hidden; 
         position: relative; 
         border-top: 1px solid $lighterneutralcolor;
    }
    .overview { 
        list-style: none; position: absolute; left: 0; top: 0; width: 100%;
    }
    
    .thumb .end,
    .thumb { background: $lightneutralcolor; }
    
    .scrollbar { 
/*         position: relative;  */
        width: $gutterwidth/4; 
        visibility: hidden;
        position: absolute;
        top: 0;
        right: $gutterwidth/4;
        z-index: 1;
    }
    
    .track { height: 100%; width: $gutterwidth/4; position: relative; }
    
    .thumb { height: 20px; width: $gutterwidth/4; cursor: pointer; overflow: hidden; position: absolute; top: 0;   }
    .thumb .end { overflow: hidden; height: 5px; width: $gutterwidth/4;    }
    
    .disable{ display: none; }    

    &:hover {
        .scrollbar {
            visibility: visible;
        }        
    }
    
}
        
/*
.noSelect { 
    user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; 
}
*/




        