<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>    
<h3>Cheatsheet</h3>
</div>
<div class="modal-body">
    <article>   
        <div class="content">            
            <h2>Keyboard Shortcuts</h2>                  
            <dl class="shortcuts">
                <dt>Lists</dt>
                <dd><kbd>1</kbd>&ensp;Unread entries
                </dd>
                <dd><kbd>2</kbd>&ensp;Saved entries
                </dd>
                <dd><kbd>3</kbd>&ensp;All entries
                </dd>
                <dd><kbd>4</kbd>&ensp;All groups
                </dd>
                <dd><kbd>5</kbd>&ensp;Feeds 
                </dd>              
                <dt>Entry page</dt>                
                <dd><kbd>k</kbd>&ensp;Next
                </dd>        
                <dd><kbd>m</kbd>&ensp;Mark/unmark as read 
                </dd>
                <dd><kbd>s</kbd>&ensp;Save/unsave
                <dd><kbd>v</kbd>&ensp;View entry on original website
            </dl>                

            
            <hr>
            
            <h2>Sync with Your Reader</h2>
            
            <p>Configure your favorite feed reader using your Coldsweat credentials and this web address:</p>            
            <p><pre><code>{{request.root_url}}fever</code></pre></p>
                    
            <hr>
                                
            <h2>Get Support</h2>        
            <ul>
                <li>
                 Check <a target="_blank" href="https://github.com/passiomatic/coldsweat/wiki">Coldsweat wiki</a> for setup, deploy and developer information.
                </li>
            
                <li>
                    <a target="_blank" href="https://github.com/passiomatic/coldsweat/issues">Open an issue on GitHub</a>
                </li>
            </ul>
        </div>
    </article> 
</div><!-- /modal-body -->

