<form class="d-flex align-items-center flex-column" onsubmit="Sweat.submitRemoteForm(this.getAttribute('action'), event)" action="{{ url_for('main.entry_list_mark', group_id=group_id) }}" method="POST">
  <input type="hidden"  name="before" value="{{now|epoch}}">
  <h3 class="large">Mark group as read?</h3>
  <div class="form__buttons">
    <button type="submit" class="btn btn-primary">Mark as Read</button>
    <button type="button" class="btn" onclick="Sweat.closeDialog(event);">Cancel</button>
  </div>
</form>
