

{% macro render_form() %}
    <div class="dialog-content">
        <form class="form" hx-post="{{ url_for('main.feed_add_1') }}" method="POST">
            <div class="form__title">
                <h3>Add Feed Subscription</h3>
            </div>
            <div class="">          
                    <fieldset>
                        <label class="form-label" for="self-link-field">Web address for the site or feed</label> 
                        <input class="form-field" type="text" id="self-link-field" autofocus name="self_link" required size="40" value="{{self_link}}">                    
                        <p class="text-muted">
                            <small>For example: theverge.com or http://www.reddit.com/top/.rss</small>
                        </p>
                    </fieldset>                
                    {% if groups|length > 1 %}
                        <fieldset>
                            <label class="form-label" for="group-field">Add to group</label>        
                            <select class="form-field" id="group-field" name="group">
                                {% for g in groups %}
                                    <option {% if g.title == g.DEFAULT_GROUP %}selected{% endif %} value="{{g.id}}">{{g.title}}</option> 
                                {% endfor %}
                            </select>     
                        </fieldset>
                    {% endif %}                
                    <hr class="">
                    <div>
                        <a href="javascript:window.open(`{{request.root_url}}{{url_for('main.feed_add_1')}}?self_link=${encodeURIComponent(location.href)}&title=${encodeURIComponent(document.title)}`)"><i class="fa fa-bookmark-o"></i> Subscribe Feed</a><br>
                        <p class="text-muted">
                            <small class="">Drag bookmarklet to your browser toolbar and quickly subscribe to any feed.</small>
                        </p>
                    </div>
                    <hr class="">                
            </div>
            <div class="form__buttons">
                <button type="submit" class="btn btn-primary">Continue</button>
                <button type="button" class="btn" onclick="Sweat.closeDialog(event);">Cancel</button>            
            </div>
            <input type="hidden" name="title" value="{{title}}">
        </form>        
    </div>
{% endmacro %}
    
{% if is_xhr %}
    {{render_form()}}
{% else %}
    {% extends "main/index.html" %}
    <!-- Place on page  -->
    {% block container_block %} 
        {{render_form()}}
    {% endblock %}
{% endif %}

 


