{% import "main/macros.html" as macros %}

{% macro render_panel() %}
    <ul id="entry-list" class="list-view {{ '' if is_xhr == 1 else 'in' }}">                      
        {% if count %}
            {{ macros.render_entries(entries, count, offset, feed_id, group_id, read_ids, saved_ids) }}
        {% else %}
            <li class="h-100">
                <div class="notice">
                    <div>
                        <i class="fa fa-tint fa-4x"></i>
                        <p>No {{filter if filter != 'archive' else '' }} articles found.</p>
                    </div>
                </div>
            </li>
        {% endif %}
    </ul>     
    <div class="entry__filter">
        <div class="d-flex mr-auto">
            {% if count %}
                {% if feed_id  %}
                    {% set mark_url = url_for('main.entry_list_mark', feed_id=feed_id) %}
                {% elif group_id %}
                    {% set mark_url = url_for('main.entry_list_mark', group_id=group_id) %}
                {% else %}
                    {% set mark_url = url_for('main.entry_list_mark') %}
                {% endif %}
                <button class="btn-icon" onclick="Sweat.openRemoteDialog('{{mark_url}}', event)">
                    <i class="fa fa-check-square"></i>
                </button>
            {% endif %}
        </div>
        <div class="radio-switch">
            <label class="radio-switch__label">
                {% set request_url_1 = url_for('main.entry_list', feed_id=feed_id, group_id=group_id, filter='unread', xhr=1) %}
                <input type="radio" name="status" onchange="Sweat.loadFolder('{{request_url_1}}', '', event)" {% if filter == 'unread' %}checked{% endif %} value="unread" class="radio-switch__input" /><i class="fa fa-circle"></i>
            </label>
            <label class="radio-switch__label">
                {% set request_url_2 = url_for('main.entry_list', feed_id=feed_id, group_id=group_id, filter='saved', xhr=1) %}
                <input type="radio" name="status" onchange="Sweat.loadFolder('{{request_url_2}}', '', event)" {% if filter == 'saved' %}checked{% endif %}  value="saved" class="radio-switch__input" /><i class="fa fa-star"></i>
            </label>
            <label class="radio-switch__label">
                {% set request_url_3 = url_for('main.entry_list', feed_id=feed_id, group_id=group_id, filter='archive', xhr=1) %}
                <input type="radio" name="status" onchange="Sweat.loadFolder('{{request_url_3}}', '', event)" {% if filter == 'archive' %}checked{% endif %}  value="archive" class="radio-switch__input" /><i class="fa fa-list-ul"></i>
            </label>
        </div>
        <div class="d-flex ml-auto">
            {% if feed_id  %}
                {% set feed_edit_url = url_for('main.feed_edit', feed_id=feed_id ) %}
                <button class="btn-icon" onclick="Sweat.openRemoteDialog('{{feed_edit_url}}', event)">
                    <i class="fa fa-cog"></i>
                </button>
            {% elif group_id %}
                {% set group_edit_url = url_for('main.group_edit', group_id=group_id ) %}
                <button class="btn-icon" onclick="Sweat.openRemoteDialog('{{group_edit_url}}', event)">
                    <i class="fa fa-cog"></i>
                </button>
            {% endif %}
        </div>
    </div>   
{% endmacro %}

{% if is_xhr %}
    {{ render_panel() }}
{% else %}
    {% extends "main/index.html" %}
    {% block panel_block %}
        {{ render_panel() }}
    {% endblock %}
{% endif %}