{% extends "base.html" %}

{% block container_block %} 
    <nav class="nav">
        <div class="nav__branding">
            <i class="fa fa-tint"></i>
        </div>
        <dl class="tree-view {{filter_class}}">
            <dt>
                EXPLORE                
            </dt>            
            <dd>
                <details>
                    <summary>
                        {% set request_url = '' %}
                        <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}')">
                            <i class="fa fa-list-ul"></i> All Articles
                        </button>
                    </summary>
                    <ul class="">
                    </ul>
                </details>
            </dd>
            <dd>
                <details>
                    <summary>
                        {% set request_url = '' %}
                        <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}')">
                            <i class="fa fa-calendar-o"></i> Today
                        </button>
                    </summary>
                    <ul class="">
                    </ul>
                </details>
            </dd>            
            <dt>
                FOLDERS                
            </dt>
            {% if groups_feeds %}
                {% for (group_id, group_title), feeds in groups_feeds %}
                    <dd>
                        <details>
                            <summary>
                                {% set request_url = url_for('main.entry_list', filter='group', id=group_id, xhr=1) %}
                                <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}')">
                                    <i class="fa fa-folder"></i> {{group_title}}
                                </button>
                            </summary>
                            <ul class="">
                                {% for f in feeds %}
                                    {% set request_url = url_for('main.entry_list', filter='feed', id=f.id, xhr=1) %}
                                    <li><button class="btn-item" type="button" onclick="Sweat.loadFolder('{{request_url}}')" value=""><img class="favicon" src="{{f.icon_url}}" width="16" height="16"  alt="*">{{f.title}}</button></li>
                                {% endfor %} 
                            </ul>
                        </details>
                    </dd>
                {% endfor %}
            {% endif %}
        </dl>
        <!-- <ul class="{{filter_class}}">
            <li class="filter-unread"><a data-toggle="tooltip" data-placement="right" title="Unread entries (1 key)" href="{{ url_for('main.entry_list', filter='unread') }}"><i class="fa fa-circle fa-fw"></i></a></li>
            <li class="filter-saved"><a data-toggle="tooltip" data-placement="right" title="Saved entries (2 key)" href="{{ url_for('main.entry_list', filter='saved') }}"><i class="fa fa-star fa-fw"></i></a></li>
            <li class="filter-all"><a data-toggle="tooltip" data-placement="right" title="All entries (3 key)" href="{{ url_for('main.entry_list', filter='all') }}"><i class="fa fa-archive fa-fw"></i></a></li>

            <li class="sep filter-feeds"><a data-toggle="tooltip" data-placement="right" title="Subscribed feeds (5 key)" href="{{ url_for('main.feed_list') }}"><i class="fa fa-rss fa-fw"></i></a></li>
            <li><a data-toggle="tooltip" class="add-trigger" href="{{ url_for('main.feed_add_1', xhr=1) }}" data-placement="right" title="Add feed subscription" data-remote-modal="modal-add-subscription"><i class="fa fa-plus-square fa-fw"></i></a></li>                                    
            <li class="sep"><li class="dropdown"><a data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i></a>   
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('main.profile') }}" data-remote-modal>Your profile</a>
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a>
                </ul>
            </li>
        </ul> -->
    </nav>
    <section class="panel">
        {% block panel_block %} 
        {% endblock %}
    </section>
    <!-- ARTICLE -->
    <main id="main">
        Select an article.
    </main>
    <!-- ALERTS -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alerts">
                {% for category, message in messages %}
                    <div class="alert alert--{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

