{% extends "base.html" %}

{% block title_block %}
    <title>{{page_title}} • Coldsweat</title>
{% endblock %}

{% block container_block %} 
    <nav class="nav">
        <div class="nav__branding">
            <i class="fa fa-tint"></i>
        </div>
        <dl class="tree-view">
            <dt>
                EXPLORE                
            </dt>            
            <dd>
                <details>
                    <summary>
                        {% set request_url = url_for('main.entry_list', _external=True, xhr=1) %}
                        <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}', 'All Articles', event)">
                            <i class="fa fa-list-ul"></i> All Articles
                        </button>
                    </summary>
                    <ul class="">
                    </ul>
                </details>
            </dd>
            <!-- <dd>
                <details>
                    <summary>
                        {% set request_url = '' %}
                        <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}', event)">
                            <i class="fa fa-calendar-o"></i> Today
                        </button>
                    </summary>
                    <ul class="">
                    </ul>
                </details>
            </dd>             -->
            <dt>
                FOLDERS                
            </dt>
            {% if groups_feeds %}
                {% for (group_id, group_title), feeds in groups_feeds %}
                    <dd>
                        <details>
                            <summary>
                                {% set request_url = url_for('main.entry_list', _external=True, group_id=group_id, xhr=1) %}
                                <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}', '{{group_title}}', event)">
                                    <i class="fa fa-folder"></i><span>{{group_title}}</span>                                    
                                </button>
                            </summary>
                            <ul class="">
                                {% for f in feeds %}
                                    {% set request_url = url_for('main.entry_list', _external=True, feed_id=f.id, xhr=1) %}
                                    <li><button class="btn-item" type="button" onclick="Sweat.loadFolder('{{request_url}}', '{{f.title}}', event)"><img class="favicon" src="{{f.icon_url}}" width="16" height="16"  alt="*">
                                        <span class="{{ '' if f.enabled else 'feed-dead' }}">{{f.title}}</span></button>
                                    </li>
                                {% endfor %} 
                            </ul>
                        </details>
                    </dd>
                {% endfor %}
            {% endif %}
        </dl>
        <div style="margin: auto .75rem .75rem .75rem;">
            {% set add_url = url_for('main.feed_add_1', xhr=1) %}            
            <button class="btn-text small" onclick="Sweat.openRemoteDialog('{{ add_url }}', event);"><i class="fa fa-plus-square"></i> Add feed subscription</button>
        </div>                                  
        <!-- <ul class="">
            <li class="sep"><li class="dropdown"><a data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i></a>   
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('main.profile') }}" data-remote-modal>Your profile</a>
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a>
                </ul>
            </li>
        </ul> -->
    </nav>
    <section class="panel" id="panel">
        {% block panel_block %} 
        {% endblock %}
    </section>
    <!-- ARTICLE -->
    <main id="main">
        Select an article.
    </main>
{% endblock %}

