{% extends "base.html" %}

{% block title_block %}
    <title>{{page_title}} • Coldsweat</title>
{% endblock %}

{% block container_block %} 
    <nav class="nav">
        <div class="nav__branding">
            <i class="fa fa-tint"></i>
        </div>
        <form>
            <dl class="tree-view">
                <dt>
                    EXPLORE                
                </dt>            
                <dd style="margin: 0 1rem">
                    {% set request_url = url_for('main.entry_list', _external=True, xhr=1) %}
                    <input id="group-all" class="sr-only" type="radio" name="tree">
                    <label class="btn-folder" type="button" for="group-all" onclick="Sweat.loadFolder('{{request_url}}', 'All Articles', event)">
                        <i class="fa fa-list-ul"></i> All Articles
                    </label>
                </dd>
                <!-- <dd>
                    {% set request_url = url_for('main.entry_list', _external=True, xhr=1) %}
                    <button class="btn-folder" type="button" onclick="Sweat.loadFolder('{{request_url}}', event)">
                        <i class="fa fa-calendar-o"></i> Today
                    </button>
                </dd> 
                -->
                <dt>
                    FOLDERS
                </dt>                
                {% if groups_feeds %}
                    {% for (g_id, group_title), feeds in groups_feeds %}
                        <dd>
                            <details>
                                <summary>
                                    {% set request_url = url_for('main.entry_list', _external=True, group_id=g_id, xhr=1) %}
                                    <input id="group-{{g_id}}" class="sr-only" type="radio" {{ 'checked' if g_id == group_id else '' }} name="tree">
                                    <label class="btn-folder" for="group-{{g_id}}" onclick="Sweat.loadFolder('{{request_url}}', '{{group_title}}', event)">
                                        <i class="fa fa-folder"></i><span>{{group_title}}</span>                                    
                                    </label>
                                </summary>
                                <ul class="">
                                    {% for f in feeds %}
                                        {% set request_url = url_for('main.entry_list', _external=True, feed_id=f.id, xhr=1) %}
                                        <li>
                                            <input id="feed-{{f.id}}" class="sr-only" type="radio" {{ 'checked' if f.id == feed_id else '' }} name="tree">
                                            <label class="btn-item" for="feed-{{f.id}}" type="button" onclick="Sweat.loadFolder('{{request_url}}', '{{f.title}}', event)"><img class="favicon" src="{{f.icon_url}}" width="16" height="16"  alt="*">
                                            <span class="{{ '' if f.enabled else 'feed-dead' }}">{{f.title}}</span></label>
                                        </li>
                                    {% endfor %} 
                                </ul>
                            </details>
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
        </form>        
        <div style="margin: auto .75rem .75rem .75rem;">
            {% set add_url = url_for('main.feed_add_1', xhr=1) %}            
            <button class="btn-text small" onclick="Sweat.openRemoteDialog('{{ add_url }}', event);"><i class="fa fa-plus-square"></i> Add feed subscription</button>
        </div>                                  
        <!-- <ul class="">
            <li class="sep"><li class="dropdown"><a data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i></a>   
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('main.profile') }}" data-remote-modal>Your profile</a>
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a>
                </ul>
            </li>
        </ul> -->
    </nav>
    <section class="panel" id="panel">
        {% block panel_block %} 
        {% endblock %}
    </section>
    <!-- ARTICLE -->
    <main id="main">
        Select an article.
    </main>
{% endblock %}

