{% macro render_entries(entries, count, offset, feed_id, group_id, read_ids, saved_ids) %}           
    {% for e in entries %}
        {% if loop.last and ( offset < count )%}
            <!-- There's more data to load  -->
            {% if feed_id %}
                {% set request_url = url_for('main.entry_list', feed_id=feed_id, offset=offset, prev_date=prev_date, xhr=1) %}
            {% elif group_id %}
                {% set request_url = url_for('main.entry_list', group_id=group_id, offset=offset, prev_date=prev_date, xhr=1) %}
            {% else %}
                {% set request_url = url_for('main.entry_list', offset=offset, prev_date=prev_date, xhr=1) %}
            {% endif %}        
            <li id="entry-{{e.id}}" hx-get="{{request_url}}" hx-trigger="intersect once" hx-swap="afterend" class="entry {%if e.id in read_ids %}status-read{% else %}status-unread{% endif %}">
        {% else %}
            <li id="entry-{{e.id}}" class="entry {%if e.id in read_ids %}status-read{% else %}status-unread{% endif %}">
        {% endif %} 
            <div class="entry-card">
                {% set date_since = e.published_on|since_today %}
                {% if date_since and loop.changed(date_since) %}
                    <h2 class="entry-card__date">{{date_since}}</h2>
                {% endif %}
                <input class="sr-only" hx-get="{{ url_for('main.entry_detail', group_id=group_id, feed_id=feed_id, entry_id=e.id, xhr=1) }}" hx-target="#main" id="c-{{e.id}}" type="radio" value="{{e.id}}" name="entries">
                <label for="c-{{e.id}}">
                    <div class="entry-card__status"></div>
                    <div>
                        <h3 class="entry-card__title">
                            {% if e.title%}
                                {{e.title}}
                            {% else %}
                                {{ e.content|striptags|excerpt }}
                            {% endif %}                            
                        </h3>
                        <h4 class="entry-card__feed">
                            {%if feed_id %}
                                {{e.published_on|datetime }}                        
                            {% else %}
                                {{e.feed.title}}
                            {% endif %}
                        </h4>
                    </div>
                    {%if e.thumbnail_url %} 
                        <div class="entry-card__thumbnail">
                            <img loading="lazy" src="{{e.thumbnail_url}}" alt="">
                        </div>
                    {% endif %}                    
                </label>
            </div>
        </li>
    {% endfor %}
{% endmacro %}


{% macro render_group_label(id, title, unread_count) %}
    {% set request_url = url_for('main.entry_list', _external=True, group_id=id, xhr=1) %}
    <label class="btn-folder" for="group-{{id}}" hx-get="{{request_url}}" hx-target="#panel">
        <i class="fa fa-folder"></i><span>{{title}}</span>  
    </label>
    {% if unread_count %}
        <span id="group-unread-{{id}}" class="badge">{{unread_count}}</span>                                          
    {% endif %}
{% endmacro %}


{% macro render_feed_label(g_id, feed) %}
    {% set request_url = url_for('main.entry_list', _external=True, feed_id=feed.id, xhr=1) %}
    <label class="btn-item" for="feed-{{g_id}}-{{feed.id}}" type="button" hx-get="{{request_url}}" hx-target="#panel">
        <img class="favicon" src="{{feed.icon_url}}" width="16" height="16"  alt="*">
        <span class="{{ '' if feed.enabled else 'feed-dead' }}">{{feed.title}}</span>
    </label>
    {% if feed.feed_read_count %}
        <span id="feed-unread-{{g_id}}-{{feed.id}}" class="badge">{{feed.feed_read_count}}</span>
    {% endif %}
{% endmacro %}  


{% macro render_alerts() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alerts">
                {% for category, message in messages %}
                    <div class="alert alert--{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endmacro %}  

