{% macro render_entries(entries, count, offset, feed_id, group_id, read_ids, saved_ids) %}
    {% set ns = namespace(prev_date = '') %}
    {% for e in entries %}
        {% set date = e.published_on|since_today %}
        {% if date != ns.prev_date %}
            <li class="heading">
                <h2><time>{{date}}</time></h2>
            </li>            
        {% endif %}
        <li class="entry {% if e.id in saved_ids %}status-saved{% endif %} {%if e.id in read_ids %}status-read{% else %}status-unread{% endif %}">
            <div class="entry-card">
                <input class="sr-only" onchange="Sweat.loadEntry('{{e.id}}', '{{e.title|urlencode}}', event)" id="c-{{e.id}}" type="radio" value="{{e.id}}" name="entries">
                <label for="c-{{e.id}}">
                    <div class="entry-card__status">
                        {%if e.id in read_ids %}
                            <i class="fa fa-circle-o"></i>
                        {% else %}
                            <i class="fa fa-circle"></i>
                        {% endif %}
                    </div>
                    <div>
                        <h3 class="entry-card__title">
                            {% if e.title%}
                                {{e.title}}
                            {% else %}
                                {{ e.content|striptags|excerpt }}
                            {% endif %}                            
                        </h3>
                        <h4 class="entry-card__feed">
                            <!-- <img class="favicon" src="{{e.feed.icon_url}}" width="16" height="16"  alt="*"> -->
                            {{e.feed.title}}
                        </h4>
                    </div>
                    {%if e.thumbnail_url %} 
                        <div class="entry-card__thumbnail">
                            <img loading="lazy" src="{{e.thumbnail_url}}" alt="">
                        </div>
                    {% endif %}                    
                </label>
                <!-- 
                <div class="meta dim">
                    <span class="actions">
                        {% if e.id in saved_ids %}<i class="save-trigger icon-saved fa" title="Unsave"></i>{% else %}<i class="save-trigger icon-unsaved fa" title="Save"></i>{%endif%}{% if e.id in read_ids %}<i class="read-trigger icon-read fa" title="Make as unread"></i>{%else%}<i class="read-trigger icon-unread fa" title="Mark as read"></i>{%endif%}                    
                    </span>
                </div>
                -->
            </div>
            <template id="template-{{e.id}}">             
                <div class="view2">                      
                    <div class="entry expanded {%if e.id in saved_ids%}status-saved{% endif %} {%if e.id in read_ids %}status-read{% endif %}">
                        <div class="item-inner">
                            <article>
                                <label class="toggle toggle-save">
                                    <input class="sr-only" onchange="Sweat.markSaved({{e.id}}, event)" {{ 'checked' if e.id in saved_ids else '' }}  type="checkbox">
                                    <div class="toggle-icon" title="Toggle save (S key)"></div>
                                </label>

                                <div class="">
                                    {% set feed_url = url_for('main.entry_list', feed_id=e.feed.id) %}
                                    <button class="btn-text text-muted xsmall text-uppercase" onclick="Sweat.loadFolder('{{feed_url}}')">{{e.feed.title}}</button>
                                </div>
                                <h1 class="article__title">{{e.title}}</h1>        
                                {%if e.content %} 
                                    <div class="article__content">                                        
                                        {% if 'html' in e.content_type %}
                                            {{e.content|safe}}
                                        {% else%}
                                            {{e.content}}
                                        {% endif %}
                                        {%if e.link %}
                                            <div class="continue"><a class="btn btn-small btn-visit" rel="noreferrer" title="View entry on {{e.link}} (V key)" target="_blank" href="{{e.link}}"><i class="fa fa-globe"></i> Visit Website</a></div>
                                        {% endif %}
                                    </div>            
                                    <hr class="">
                                {% endif %}
                                <div class="d-flex justify-content-between">
                                    <div class="small text-muted">    
                                        <i class="fa fa-info-circle"></i> Posted {{e.published_on|datetime }} {%if e.author %} by {{ e.author }}{% endif %}                                              
                                    </div>
                                    <button class="btn-text small text-muted" onclick="Sweat.shareEntry({title:'{{e.title}}', url:'{{e.link}}'})" type="button">Share</button>
                                </div>
                            </article>    
                        </div>
                    </div>
                </div>                                      
            </template>
        </li>
        {% set ns.prev_date = date  %}
    {% else %}
        <div class="notice">
            <div>
                <i class="fa fa-tint fa-4x"></i>
                <p>No articles found.</p>
            </div>
        </div>  
    {% endfor %}
    {% if offset < count %}
        <li class="more">
            {% if feed_id %}
                {% set request_url = url_for('main.entry_list', feed_id=feed_id, offset=offset, prev_date=prev_date, xhr=1) %}
            {% elif group_id %}
                {% set request_url = url_for('main.entry_list', group_id=group_id, offset=offset, prev_date=prev_date, xhr=1) %}
            {% else %}
                {% set request_url = url_for('main.entry_list', offset=offset, prev_date=prev_date, xhr=1) %}
            {% endif %}
            <button class="btn-text" onclick="Sweat.loadMore('{{request_url}}')">More</button>
        </li>
    {% endif %} 
{% endmacro %}


{% macro render_group_label(id, title) %}
    {% set request_url = url_for('main.entry_list', _external=True, group_id=id, xhr=1) %}
    <label class="btn-folder" id="label-group-{{id}}" for="group-{{id}}" onclick="Sweat.loadFolder('{{request_url}}', '{{title}}', event)">
        <i class="fa fa-folder"></i><span>{{title}}</span>                                    
    </label>
{% endmacro %}


{% macro render_feed_label(feed) %}
    {% set request_url = url_for('main.entry_list', _external=True, feed_id=id, xhr=1) %}
    <label class="btn-item" id="label-feed-{{feed.id}}" for="feed-{{feed.id}}" type="button" onclick="Sweat.loadFolder('{{request_url}}', '{{feed.title}}', event)"><img class="favicon" src="{{feed.icon_url}}" width="16" height="16"  alt="*">
        <span class="{{ '' if feed.enabled else 'feed-dead' }}">{{feed.title}}</span>
    </label>
{% endmacro %}
