{% extends "base.html" %}

{% block container_block %}
 
<hr>

<section class="module">
    <div class="well well--large">
        <h2>Welcome to Coldsweat</h2>
        <p>Enter your account credentials to proceed.</p>
        <form action="login" class="form-inline" method="POST">        
            <input type="hidden" name="next" value="{{next_url}}">
            <fieldset>
                <label>E-mail</label>
                <input autofocus type="email" required name="email" maxlength="60" class="input-large" size="30">                
                <label>Password</label>
                <input type="password" required name="password" maxlength="60" class="input-large" size="30">
            </fieldset>
            <fieldset>
                <button type="submit" class="btn btn-primary">Log In</button>
            </fieldset> 
        </form>
    </div>
</section>

{% endblock %}


 
