html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  vertical-align: baseline;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

[role="banner"]:after {
  content: "";
  clear: both;
  display: table;
}

a {
  color: #175b82;
  text-decoration: none;
  transition: all .1s ease-out;
}

a:visited {
  color: #0f3d57;
}

a:hover {
  color: #9c1c1e;
  text-decoration: underline;
}

a:focus {
  color: #9c1c1e;
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

::selection {
  color: #175b82;
  text-shadow: none;
  background-color: #e9f5fb;
}

.swatch {
  margin: 0 0 1.5em;
  padding: 0;
}

.swatch-row {
  width: 200px;
  margin: 0;
  padding: 0;
  display: block;
}

.swatch-row:after {
  content: "";
  clear: both;
  display: table;
}

.swatch-row-one {
  background-color: #000;
}

.swatch-row-two {
  background-color: #fff;
}

.swatch-row span {
  float: left;
  width: 50px;
  height: 50px;
  display: block;
}

.swatch-base span:first-child {
  background-color: #175b82e6;
}

.swatch-base span:nth-child(2) {
  background-color: #175b82cc;
}

.swatch-base span:nth-child(3) {
  background-color: #175b82b3;
}

.swatch-base span:nth-child(4) {
  background-color: #175b8299;
}

.swatch-secondary span:first-child {
  background-color: #9c1c1ee6;
}

.swatch-secondary span:nth-child(2) {
  background-color: #9c1c1ecc;
}

.swatch-secondary span:nth-child(3) {
  background-color: #9c1c1eb3;
}

.swatch-secondary span:nth-child(4) {
  background-color: #9c1c1e99;
}

.swatch-tertiary span:first-child {
  background-color: #292f36e6;
}

.swatch-tertiary span:nth-child(2) {
  background-color: #292f36cc;
}

.swatch-tertiary span:nth-child(3) {
  background-color: #292f36b3;
}

.swatch-tertiary span:nth-child(4) {
  background-color: #292f3699;
}

.swatch-neutral span:first-child {
  background-color: #474242e6;
}

.swatch-neutral span:nth-child(2) {
  background-color: #474242cc;
}

.swatch-neutral span:nth-child(3) {
  background-color: #474242b3;
}

.swatch-neutral span:nth-child(4) {
  background-color: #47424299;
}

.swatch-error span:first-child {
  background-color: #9c1c1ee6;
}

.swatch-error span:nth-child(2) {
  background-color: #9c1c1ecc;
}

.swatch-error span:nth-child(3) {
  background-color: #9c1c1eb3;
}

.swatch-error span:nth-child(4) {
  background-color: #9c1c1e99;
}

.swatch-info span:first-child {
  background-color: #afccdfe6;
}

.swatch-info span:nth-child(2) {
  background-color: #afccdfcc;
}

.swatch-info span:nth-child(3) {
  background-color: #afccdfb3;
}

.swatch-info span:nth-child(4) {
  background-color: #afccdf99;
}

.swatch-success span:first-child {
  background-color: #5eb337e6;
}

.swatch-success span:nth-child(2) {
  background-color: #5eb337cc;
}

.swatch-success span:nth-child(3) {
  background-color: #5eb337b3;
}

.swatch-success span:nth-child(4) {
  background-color: #5eb33799;
}

.btn {
  background-color: #cbc7c7;
  background-image: -moz-linear-gradient(top, #e4e2e2, #cbc7c7);
  background-image: -ms-linear-gradient(top, #e4e2e2, #cbc7c7);
  background-image: -o-linear-gradient(top, #e4e2e2, #cbc7c7);
  background-image: linear-gradient(top, #e4e2e2, #cbc7c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e2e2), to(#cbc7c7));
  background-image: -webkit-linear-gradient(top, #e4e2e2, #cbc7c7);
  background-image: -moz-linear-gradient(top, #e4e2e2, #cbc7c7);
  background-repeat: repeat-x;
}

.btn-primary {
  background-color: #0f3d57;
  background-image: -moz-linear-gradient(top, #175b82, #0f3d57);
  background-image: -ms-linear-gradient(top, #175b82, #0f3d57);
  background-image: -o-linear-gradient(top, #175b82, #0f3d57);
  background-image: linear-gradient(top, #175b82, #0f3d57);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#175b82), to(#0f3d57));
  background-image: -webkit-linear-gradient(top, #175b82, #0f3d57);
  background-image: -moz-linear-gradient(top, #175b82, #0f3d57);
  background-repeat: repeat-x;
}

.btn-error {
  background-color: #711416;
  background-image: -moz-linear-gradient(top, #9c1c1e, #711416);
  background-image: -ms-linear-gradient(top, #9c1c1e, #711416);
  background-image: -o-linear-gradient(top, #9c1c1e, #711416);
  background-image: linear-gradient(top, #9c1c1e, #711416);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9c1c1e), to(#711416));
  background-image: -webkit-linear-gradient(top, #9c1c1e, #711416);
  background-image: -moz-linear-gradient(top, #9c1c1e, #711416);
  background-repeat: repeat-x;
}

.btn-success {
  background-color: #4a8c2b;
  background-image: -moz-linear-gradient(top, #5eb337, #4a8c2b);
  background-image: -ms-linear-gradient(top, #5eb337, #4a8c2b);
  background-image: -o-linear-gradient(top, #5eb337, #4a8c2b);
  background-image: linear-gradient(top, #5eb337, #4a8c2b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5eb337), to(#4a8c2b));
  background-image: -webkit-linear-gradient(top, #5eb337, #4a8c2b);
  background-image: -moz-linear-gradient(top, #5eb337, #4a8c2b);
  background-repeat: repeat-x;
}

@font-face {
  font-family: FontAwesome;
  src: url("fontawesome-webfont.0e69da3d.eot");
  src: url("fontawesome-webfont.3b8a7ff6.eot#iefix&v=4.0.3") format("embedded-opentype"), url("fontawesome-webfont.c57f9fe9.woff") format("woff"), url("fontawesome-webfont.eca4f89d.ttf") format("truetype"), url("fontawesome-webfont.fbd6655f.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
}

.fa-lg {
  vertical-align: -15%;
  font-size: 1.33333em;
  line-height: .75em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  margin-left: 2.14286em;
  padding-left: 0;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  width: 2.14286em;
  text-align: center;
  position: absolute;
  top: .142857em;
  left: -2.14286em;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  border: .08em solid #eee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  animation: 2s linear infinite spin;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}



@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 1);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 2);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 3);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 0, mirror= 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 2, mirror= 1);
  transform: scale(1, -1);
}

.fa-stack {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  line-height: 2em;
  display: inline-block;
  position: relative;
}

.fa-stack-1x, .fa-stack-2x {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before, ul.view2 > li .meta .icon-saved:before, ul.list-view > li .meta .icon-saved:before {
  content: "";
}

.fa-star-o:before, ul.view2 > li .meta .icon-unsaved:before, ul.list-view > li .meta .icon-unsaved:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before, .fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before, .fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before, .fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before, .fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before, .fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before, .fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before, .fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before, .fa-users:before {
  content: "";
}

.fa-chain:before, .fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before, .fa-scissors:before {
  content: "";
}

.fa-copy:before, .fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before, .fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before, .fa-sort:before {
  content: "";
}

.fa-sort-down:before, .fa-sort-asc:before {
  content: "";
}

.fa-sort-up:before, .fa-sort-desc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before, .fa-undo:before {
  content: "";
}

.fa-legal:before, .fa-gavel:before {
  content: "";
}

.fa-dashboard:before, .fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before, .fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before, .fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before, .fa-mobile:before {
  content: "";
}

.fa-circle-o:before, ul.view2 > li .meta .icon-read:before, ul.list-view > li .meta .icon-read:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before, ul.view2 > li .meta .icon-unread:before, ul.list-view > li .meta .icon-unread:before {
  content: "";
}

.fa-mail-reply:before, .fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-reply-all:before, .fa-mail-reply-all:before {
  content: "";
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before, .fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before, .fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before, .fa-usd:before {
  content: "";
}

.fa-rupee:before, .fa-inr:before {
  content: "";
}

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "";
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "";
}

.fa-won:before, .fa-krw:before {
  content: "";
}

.fa-bitcoin:before, .fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before, .fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.alert {
  color: #05090b;
  background-color: #afccdf;
  border: 0 solid #679dc2;
  border-radius: 0;
  margin-bottom: 1.5em;
  padding: .375em 0;
  font-size: 1.4rem;
}

.alert > h4 {
  color: #05090b;
  margin: 0;
}

.alert--success {
  color: #000;
  background-color: #5eb337;
  border-color: #4a8c2b;
}

.alert--success > h4 {
  color: #000;
}

.alert--error {
  color: #fceeee;
  background-color: #9c1c1e;
  border-color: #711416;
}

.alert--error > h4 {
  color: #fceeee;
}

.alert--warning {
  color: #716209;
  background-color: #f7ea9c;
  border-color: #efd63e;
}

.alert--warning > h4 {
  color: #716209;
}

.alert--info {
  color: #294e67;
  background-color: #afccdf;
  border-color: #8bb5d1;
}

.alert--info > h4 {
  color: #294e67;
}

.alert--block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert--block > p, .alert--block > ul {
  margin-bottom: 0;
}

.alert--block > p + p {
  margin-top: 5px;
}

.modal-backdrop {
  z-index: 1040;
  background-color: #000;
  position: fixed;
  inset: 0;
}

.modal-backdrop.fade {
  opacity: .4;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: .8;
}

.modal {
  z-index: 1050;
  width: 40em;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c6c2c2;
  border-radius: 3px;
  outline: none;
  margin-left: -20em;
  position: fixed;
  top: 10%;
  left: 50%;
}

.modal.fade {
  opacity: .75;
  transition: all .25s ease-out;
  transform: scale(.95);
}

.modal.fade.in {
  opacity: 1;
  transform: scale(1);
}

.modal-header {
  border-bottom: 1px solid #c6c2c2;
  padding: .75em 24px;
}

.modal-header .close {
  float: right;
  cursor: pointer;
  color: #898080;
  background: none;
  border: none;
  margin: 8px 0 0;
  padding: 0;
  font-size: 1.6rem;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  max-height: 400px;
  padding: 1.5em 24px;
  position: relative;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  border-radius: 0 0 inherit inherit;
  border-top: 1px solid #c6c2c2;
  margin-bottom: 0;
  padding: .75em 24px;
}

.modal-footer:before, .modal-footer:after {
  content: "";
  line-height: 0;
  display: table;
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal.hide {
  display: none;
}

.popover {
  z-index: 1000;
  max-width: 276px;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  white-space: normal;
  background-clip: padding-box;
  border: 2px solid #fff;
  border-radius: 3px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 4px #898080b3;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  border-radius: inherit inherit 0 0;
  color: #2e2b2b;
  background-color: #fff;
  border-bottom: 2px solid #f2f2f2;
  margin: 0;
  padding: .75em 12px;
  font-family: system-ui, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

.popover-title:empty {
  display: none;
}

.popover-content {
  color: #2e2b2b;
  padding: .75em 12px;
  font-family: system-ui, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 1.28rem;
  line-height: 1.30435em;
}

.popover .arrow, .popover .arrow:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #0000;
  display: block;
  position: absolute;
}

.popover .arrow {
  border-width: 12px;
}

.popover .arrow:after {
  content: "";
  border-width: 6px;
}

.popover.top .arrow {
  border-top-color: #fff;
  border-bottom-width: 0;
  margin-left: -12px;
  bottom: -12px;
  left: 50%;
}

.popover.top .arrow:after {
  border-top-color: #fff;
  border-bottom-width: 0;
  margin-left: -6px;
  bottom: 1px;
}

.popover.right .arrow {
  border-left-width: 0;
  border-right-color: #fff;
  margin-top: -12px;
  top: 50%;
  left: -12px;
}

.popover.right .arrow:after {
  border-left-width: 0;
  border-right-color: #fff;
  bottom: -6px;
  left: 1px;
}

.popover.bottom .arrow {
  border-top-width: 0;
  border-bottom-color: #fff;
  margin-left: -12px;
  top: -12px;
  left: 50%;
}

.popover.bottom .arrow:after {
  border-top-width: 0;
  border-bottom-color: #fff;
  margin-left: -6px;
  top: 1px;
}

.popover.left .arrow {
  border-left-color: #fff;
  border-right-width: 0;
  margin-top: -12px;
  top: 50%;
  right: -12px;
}

.popover.left .arrow:after {
  border-left-color: #fff;
  border-right-width: 0;
  bottom: -6px;
  right: 1px;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #0000;
  font-family: system-ui, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
}

.table {
  width: 100%;
  max-width: 100%;
}

.table th, .table td {
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #898080;
  padding: 8px 0;
  line-height: 1.5em;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #898080;
}

.table tbody tr td, .table tbody tr th {
  -webkit-transition: background-color .2s 0 ease;
  -moz-transition: background-color .2s 0 ease;
  transition: background-color .2s 0 ease;
}

.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border-collapse: separate;
  border: 1px solid #898080;
  border-left: 0;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #898080;
}

.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th, .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e4e2e2;
}

.tooltip {
  z-index: 1000;
  visibility: visible;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  font-size: 1.3rem;
  line-height: 1.5em;
  display: block;
  position: absolute;
}

.tooltip.in {
  -webkit-opacity: 80;
  -moz-opacity: 80;
  opacity: 80;
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  transition: opacity .2s linear;
}

.fade.in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.tooltip-inner {
  max-width: 200px;
  color: #fff;
  text-align: center;
  background-color: #175b82;
  border-radius: 3px;
  padding: .75em 12px;
  font-family: system-ui, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #0000;
  position: absolute;
}

.tooltip.top .tooltip-arrow {
  border-width: 5px 5px 0;
  border-top-color: #175b82;
  margin-left: -5px;
  bottom: 0;
  left: 50%;
}

.tooltip.right .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-right-color: #175b82;
  margin-top: -5px;
  top: 50%;
  left: 0;
}

.tooltip.left .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-left-color: #175b82;
  margin-top: -5px;
  top: 50%;
  right: 0;
}

.tooltip.bottom .tooltip-arrow {
  border-width: 0 5px 5px;
  border-bottom-color: #175b82;
  margin-left: -5px;
  top: 0;
  left: 50%;
}

.well {
  min-height: 20px;
  color: #2e2b2b;
  background-color: #e4e2e2;
  border: 0 solid #cbc7c7;
  border-radius: 3px;
  margin-bottom: 1.5em;
  padding: 12px;
}

.well p:last-child {
  margin-bottom: 0;
}

.well--large {
  padding: 24px;
}

.well--small {
  padding: 6px;
}

.well--dim {
  background-color: #b2adad;
}

.help-block, .help-inline {
  color: #898080;
  font-size: 1.4rem;
  line-height: 1.4;
}

.help-block, .help-inline {
  color: #898080;
}

.help-block {
  margin-bottom: .75em;
  display: block;
}

.help-inline {
  vertical-align: middle;
  padding-left: 24px;
  display: inline-block;
}

.form-horizontal .control-group:after {
  content: "";
  clear: both;
  display: table;
}

.form-horizontal .control-label {
  float: left;
  width: 49%;
  text-align: right;
  box-sizing: border-box;
  padding-top: 5px;
  padding-right: 24px;
}

.form-horizontal .controls {
  margin-left: 49%;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block {
  margin-top: .75em;
}

.form-horizontal .form-actions {
  padding-left: 49%;
}

.form-horizontal input, .form-horizontal textarea, .form-horizontal select {
  vertical-align: middle;
  margin-bottom: 0;
  display: inline-block;
}

.form-horizontal .hide {
  display: none;
}

.form-horizontal label, .form-horizontal .btn-group {
  display: inline-block;
}

.form-horizontal .control-group {
  margin-bottom: .75em;
}

.form-horizontal legend + .control-group {
  -webkit-margin-top-collapse: separate;
  margin-top: 1.5em;
}

input.search-query {
  padding-right: 14px;
  padding-right: 4px \ 9;
  padding-left: 14px;
  padding-left: 4px \9 ;
  border-radius: 0;
  margin-bottom: 0;
}

.form-search .input-append .search-query, .form-search .input-prepend .search-query {
  border-radius: 0;
}

.form-search .input-append .search-query {
  border-radius: 14px, 0, 0, 14px;
}

.form-search .input-append .btn, .form-search .input-prepend .search-query {
  border-radius: 0, 14px, 14px, 0;
}

.form-search .input-prepend .btn {
  border-radius: 14px, 0, 0, 14px;
}

.form-search input, .form-search textarea, .form-search select {
  vertical-align: middle;
  margin-bottom: 0;
  display: inline-block;
}

.form-search .hide {
  display: none;
}

.form-search label, .form-search .btn-group {
  display: inline-block;
}

.form-search .radio, .form-search .checkbox {
  vertical-align: middle;
  margin-bottom: 0;
  padding-left: 0;
}

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"] {
  float: left;
}

.form-search .radio input[type="radio"] margin, .form-search .checkbox input[type="checkbox"] margin {
  left: 0;
  right: 3px;
}

.form-search .control-group {
  margin-bottom: .75em;
}

.form-search legend + .control-group {
  -webkit-margin-top-collapse: separate;
  margin-top: 1.5em;
}

.btn-text {
  -webkit-appearance: none;
  appearance: none;
  color: #175b82;
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.btn--large {
  font-size: 1.25rem;
}

.btn-text--small {
  font-size: .875rem;
}

.btn {
  color: #000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #e4e2e2;
  border: 1px solid #c4bfbf;
  border-bottom-color: #9a9292;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 6px 11px;
  line-height: 1.5em;
  display: inline-block;
}

.btn:visited, .btn:hover, .btn:active {
  color: #000;
  text-decoration: none;
}

.btn-disabled {
  opacity: .5;
  cursor: default;
}

.btn-primary {
  color: #fff;
  background-color: #175b82;
  border-color: #0f3d57 #0f3d57 #081e2b;
}

.btn-primary:visited, .btn-primary:active, .btn-primary:hover {
  color: #f2f2f2;
  background-color: #155275;
}

.btn-danger {
  color: #fff;
  background-color: #9c1c1e;
  border-color: #711416 #711416 #460c0d;
}

.btn-danger:visited, .btn-danger:active, .btn-danger:hover {
  color: #f2f2f2;
  background-color: #711416;
}

.tree-view {
  margin: 0;
  padding: 0;
}

.tree-view dt {
  margin: 1.5rem 0 .25rem;
  padding: 0 .75rem;
  font-size: .75rem;
  font-weight: 700;
}

.tree-view dd {
  margin: 0;
  padding: 0;
}

.tree-view dd ul {
  list-style: none;
}

.tree-view dd ul li {
  margin: 0;
  padding: 0;
}

.tree-view dd details summary::-webkit-details-marker {
  display: none;
}

.tree-view dd details summary {
  align-items: center;
  list-style: none;
  display: flex;
}

.tree-view dd details summary:before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23252424' viewBox='0 0 256 256'%3E%3Cpath d='M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  margin: 0 0 0 .25rem;
}

.tree-view dd details[open] summary:before {
  transform: rotate(90deg);
}

.tree-view .btn-item, .tree-view .btn-folder {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: inherit;
  background: none;
  border: 0;
  flex-grow: 1;
  align-items: center;
  gap: .25rem;
  margin: 0;
  padding: .5rem;
  font-size: .875rem;
  display: flex;
}

.tree-view .btn-item:hover, .tree-view .btn-folder:hover {
  text-decoration: underline;
}

.tree-view .btn-item {
  padding: .5rem 1.5rem;
  font-size: .75rem;
}

ul.view {
  max-width: 25em;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

ul.view > li {
  margin: 0;
  padding: 0;
}

ul.view > li.heading {
  background: #e4e2e2;
  padding: .375em 36px;
  position: sticky;
  top: 0;
}

ul.view > li.heading h2 {
  text-transform: uppercase;
  color: #918e8e;
  letter-spacing: 1px;
  font-size: .875rem;
}

ul.view > li.status-disabled .item-inner {
  background-color: #fae1e1;
}

ul.view > li.status-disabled .item-inner h3 {
  text-decoration: line-through;
}

ul.view > li.status-sick .item-inner {
  background-color: #f7ea9c;
}

ul.list-view {
  height: 100vh;
  min-width: 35rem;
  overflow-y: auto;
}

ul.list-view > li.entry {
  border-bottom: 1px dotted #bbb7b7;
}

ul.list-view > li .meta .icon-read {
  margin-left: 12px;
  display: none;
}

ul.list-view > li .meta .icon-unread {
  margin-left: 12px;
}

ul.list-view > li .meta .icon-saved {
  display: none;
}

ul.list-view > li.status-read h3 a:link {
  color: #175b82b3;
}

ul.list-view > li.status-read h3 a:hover {
  color: #9c1c1e;
}

ul.list-view > li.status-read .meta .icon-read {
  display: inline-block;
}

ul.list-view > li.status-read .meta .icon-unread {
  display: none;
}

ul.list-view > li.status-saved .meta .icon-saved {
  display: inline-block;
  transform: scale(1.3);
}

ul.list-view > li.status-saved .meta .icon-unsaved {
  display: none;
}

ul.list-view .more {
  background: #e4e2e2;
  margin-bottom: 3.5rem;
}

ul.list-view .more button {
  width: 100%;
  padding: .5rem 0;
  display: block;
}

.panel-content {
  border-right: 1px solid #bbb7b7;
  position: relative;
}

.entry__filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  z-index: 2;
  background-color: #bbb7b7b3;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  display: flex;
  position: absolute;
  bottom: 0;
}

.entry-card label {
  cursor: pointer;
  background-color: #fff;
  align-items: center;
  gap: .5rem;
  padding: .75em .75rem;
  transition: background-color .1s ease-out;
  display: flex;
}

.entry-card label:hover .entry-card__title {
  text-decoration: underline;
}

.entry-card__title {
  color: #175b82;
  font-weight: 500;
}

.entry-card__status {
  opacity: 0;
  font-size: .75rem;
}

.status-unread .entry-card__status {
  opacity: 1;
  color: #175b82;
}

.feed {
  text-transform: uppercase;
  align-items: center;
  gap: .25rem;
  font-size: .75rem;
  font-weight: normal;
  display: flex;
}

.entry-card input {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.entry-card input:checked ~ label {
  background: #d5e1e9;
}

main {
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto;
}

ul.view2 {
  max-width: 75ch;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

ul.view2 > li {
  margin: 0;
  padding: 0;
}

ul.view2 > li.heading {
  background: #e4e2e2;
  padding: .375em 36px;
}

ul.view2 > li.heading:after {
  content: "";
  clear: both;
  display: table;
}

ul.view2 > li.heading:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

ul.view2 > li.heading h2 {
  text-transform: uppercase;
  color: #898080;
  letter-spacing: 1px;
}

ul.view2 > li.heading:first-child h2 span {
  display: inline;
}

ul.view2 > li.heading .toolbar {
  float: right;
  display: none;
}

ul.view2 > li.heading:first-child .toolbar {
  display: block;
}

ul.view2 > li .item-inner {
  background: #fff;
  padding: .375em 36px;
  box-shadow: 0 0 4px #898080;
}

ul.view2 > li .item-inner > h3 a {
  display: block;
}

ul.view2 > li .item-inner .favicon {
  float: left;
  margin: 4px 0 0 -24px;
}

ul.view2 > li.status-disabled .item-inner {
  background-color: #fae1e1;
}

ul.view2 > li.status-disabled .item-inner h3 {
  text-decoration: line-through;
}

ul.view2 > li.status-sick .item-inner {
  background-color: #f7ea9c;
}

ul.view2 > li .item-inner {
  border-bottom: 1px solid #e4e2e2;
}

ul.view2 > li.expanded .item-inner {
  border-bottom: none;
  padding: 1.5em 36px;
}

ul.view2 > li:first-child .item-inner {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

ul.view2 > li:last-child .item-inner {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

ul.view2 > li .meta .icon-read {
  margin-left: 12px;
  display: none;
}

ul.view2 > li .meta .icon-unread {
  margin-left: 12px;
}

ul.view2 > li .meta .icon-saved {
  display: none;
}

ul.view2 > li.status-read h3 a:link {
  color: #175b82b3;
}

ul.view2 > li.status-read h3 a:hover {
  color: #9c1c1e;
}

ul.view2 > li.status-read .meta .icon-read {
  display: inline-block;
}

ul.view2 > li.status-read .meta .icon-unread {
  display: none;
}

ul.view2 > li.status-saved .meta .icon-saved {
  display: inline-block;
  transform: scale(1.3);
}

ul.view2 > li.status-saved .meta .icon-unsaved {
  display: none;
}

ul.view2 .more {
  clear: both;
  text-align: center;
  padding: .75em 0;
}

ul.view2 .more a {
  width: 100%;
  display: inline-block;
}

article:after {
  content: "";
  clear: both;
  display: table;
}

article .article__title {
  border-bottom: 5px double #bbb7b7;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

article .content h1 {
  border: none;
}

article .content p, article .content blockquote, article .content figure, article .content table, article .content ul, article .content ol, article .content dl {
  margin: .75em 0;
  padding: 0;
}

article .content p:first-child, article .content blockquote:first-child, article .content figure:first-child, article .content table:first-child, article .content ul:first-child, article .content ol:first-child, article .content dl:first-child {
  margin-top: 0;
}

article .content blockquote {
  color: #9c1c1e;
  padding: 0 24px;
}

article .content blockquote p:last-child {
  margin-bottom: 0;
}

article .content figcaption {
  color: #918e8e;
  font-size: .875rem;
  font-style: italic;
}

article .content li, article .content dd {
  margin: 0 0 .375em 24px;
  padding: 0;
}

article .content img {
  max-width: 100%;
  height: auto;
}

article .content hr {
  margin: 1.5em 0;
}

article .content .continue {
  text-align: center;
  clear: both;
  margin: 1.5em 0 0;
}

html, body {
  height: 100%;
  color: #252424;
  background: #d9d5d5;
  font: 1em / 1.5 system-ui, -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

body {
  display: flex;
}

.dim, .notice, .dim a, .notice a, .dim a:visited, .notice a:visited {
  color: #898080;
}

.dim a:hover, .notice a:hover, .dim a:focus, .notice a:focus {
  color: #9c1c1e;
}

.meta {
  font-size: .875rem;
}

.meta .actions .fa {
  cursor: pointer;
}

.meta .icon-saved {
  color: #ebcd0c;
}

.expanded .meta .feed {
  text-transform: uppercase;
}

.expanded .meta .actions {
  float: right;
}

.tooltip {
  white-space: nowrap;
}

.tooltip.bottom {
  margin-bottom: 7px;
}

.popover-content .btn {
  margin: 0 0 .5em;
  display: block;
}

.popover-content .btn:last-child {
  margin-bottom: 0;
}

.module {
  max-width: 25em;
  margin: 0 auto 1.5em;
}

.module h2 {
  margin-top: 0;
}

.panel {
  box-sizing: border-box;
}

footer[role="contentinfo"] {
  text-align: center;
  margin: 4.5em 0 1.5em;
  padding: 0;
}

footer[role="contentinfo"] .fa-heart {
  cursor: help;
}

.page {
  max-width: 25em;
  background: #fff;
  border-radius: 3px;
  margin: .75em auto 0;
  padding: 1.5em 36px;
  box-shadow: 0 0 4px #898080;
}

dl.shortcuts {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

dl.shortcuts dt {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #898080;
  margin: 1.5em 0 .75em;
  font-weight: bold;
}

dl.shortcuts dd {
  margin-bottom: .75em !important;
}

kbd {
  width: 2em;
  text-align: center;
  color: #474242;
  text-transform: uppercase;
  background: #e4e2e2;
  border-radius: 3px;
  padding: 2px 0;
  display: inline-block;
  box-shadow: 0 1px #898080;
}

pre {
  background: #e4e2e2;
  border-radius: 3px;
  padding: 8px 4px;
}

.alert {
  text-align: center;
  margin: 0;
}

.notice {
  text-align: center;
  margin: 25% 0 20%;
}

.notice i {
  opacity: .6;
  margin: 1.5em 0 0;
  display: block;
}

.flash {
  z-index: 3;
  width: 6em;
  text-align: center;
  background: #e4e2e2d9;
  border-radius: 3px;
  margin-top: -3em;
  margin-left: -3em;
  padding: 3em 48px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.loading {
  text-align: center;
  color: #474242;
}

#modal-feed-edit table {
  margin-top: 1.5em;
}

#modal-feed-edit th, #modal-feed-edit td {
  border-top-color: #c6c2c2;
}

#modal-feed-edit .enabled {
  color: #5eb337;
}

#modal-feed-edit .disabled {
  color: #9c1c1e;
}

#modal-feed-edit code {
  background: #e4e2e2;
  border-radius: 3px;
  padding: 2px 4px;
}

#modal-feed-edit .favicon {
  vertical-align: baseline;
}

nav {
  height: 100vh;
  background: #bbb7b7;
  overflow-y: scroll;
}

.dropdown .dropdown-menu {
  min-width: 12em;
  z-index: 4;
  background: #fff;
  border: 1px solid #bbb7b7;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: -3px;
  left: 2.6em;
  box-shadow: 0 0 4px #47424280;
}

.dropdown .dropdown-menu a {
  white-space: nowrap;
  border-bottom: 1px solid #bbb7b7;
  font-size: 1.4rem;
}

.dropdown .dropdown-menu a:hover {
  color: #2e2b2b;
  background: #e4e2e2;
}

.dropdown .dropdown-menu li:last-child a {
  border-bottom: none;
}

.dropdown.open {
  background: #847b7b;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.radio-switch {
  background-color: #d9d5d5;
  border-radius: .5rem;
  gap: .75rem;
  padding: .25rem;
  display: inline-flex;
}

.radio-switch__label {
  cursor: pointer;
  width: 1.5rem;
  text-align: center;
  border-radius: .35rem;
  padding: .25rem .5rem;
}

.radio-switch__label--selected {
  color: #fff;
  background-color: #26729e;
}

.radio-switch__input {
  display: none;
}

/*# sourceMappingURL=all.css.map */
