main {
    //min-width: max-content;
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    background: $white;

    .entry {
        transform: translateX(-1.5rem);
        opacity: 0.75;
        transition: transform .16s ease-out, opacity .16s ease-out;
        position: relative;
        padding: 0 2rem;

        // Title

        .favicon {
            float: left;
            //margin: 4px 0 0 (-$gutterwidth);
        }
        
        // Saved status

        .toggle-save {
            position: absolute;
            top: -.5rem;
            right: 1rem;
            z-index: 1;
            font-size: $font-size-large;

            .toggle-icon {
                background: transparent url('/assets/star.svg') no-repeat center/100%;
                width: 24px;
                height: 24px;
            }

            input:checked ~ .toggle-icon {
                background-image: url('/assets/star-fill.svg');
            }
        }
    }
    
    // Entering
    &.in .entry {
        transform: translateX(0);
        opacity: 1;                
    }
}


.view2 {
    margin: 2rem auto;

    .continue {
        clear: both;
        margin-top: 2rem;
        text-align: center;
    }
}



// =entry ================================

article {
    @include clearfix;

    .article__title {
        font-size: $font-size-xlarge;     
        font-weight: 600;
        padding-bottom: 1rem;     
        margin: .25rem 0 1.5rem 0;
        border-bottom: 5px double $border-color;
    }

    .article__content {
        max-width: 75ch;
        margin: 0 auto;

        // Headings

        h1, h2, h3, h4, h5, h6 {
            margin: 1.5rem 0 .75rem 0;
            font-weight: 600;
        }

        h1, h2 {
            font-size: $font-size-large;
        }

        h3, h4, h5, h6 {
            font-size: $font-size-base;
        }

        // Other common block-level elements 

        blockquote,
        picture,
        figure,
        table,
        p,
        ul,
        ol,
        dl {
            @include zero;
            margin: .75rem 0;

            &:first-child {
                margin-top: 0;
            }
        }

        blockquote {
            color: $secondarycolor;
            padding: 0 $gutterwidth;
            font-size: 0.925em; // A tad smaller...

            p:last-child {
                margin-bottom: 0;
            }
        }

        q {
            color: $secondarycolor;
        }

        figcaption {
            font-size: $font-size-small;
            font-style: italic;
            color: $text-color-muted;
        }

        // List items 

        li,
        dd {
            @include zero;
            margin: 0 0 $baselineheight/4 $gutterwidth;
        }

        // Images

        img {
            max-width: 100%;
            height: auto;
        }

        // Media

        iframe, 
        video,
        embed {
            width: 100%;
        }
    
        // Misc.
        
        sub,
        sup {
            font-size: $font-size-small;
        }

        sub {
            vertical-align: bottom;
        }

        sup {
            vertical-align: top;
        }
    }

}