@mixin buttongrad {
    @include vertical($buttonbackgroundcolor, darken($buttonbackgroundcolor, 10%));
}

@mixin errorgrad {
    @include vertical($color-secondary, darken($color-secondary, 10%));
}

@mixin primarygrad {
    @include vertical($color-primary, darken($color-primary, 10%));
}

// Vars

$buttonpadding: 6px 11px;

// Buttons have a default flat background colour
// Add an optional gradient in _bootstrap-form-buttons.scss
// Configure the gradient colours in _texture.scss
$buttonbackgroundcolor: $color-neutral-600;

// Set the default button’s border width. Default is $borderwidth defined above
$buttonborderwidth: 1px;

// Set the default button’s border style
$buttonborderstyle: solid;

// By default border colour is a tint of background colour. Adjust percentage as required
$buttonbordercolor : darken($buttonbackgroundcolor, 13%);

// Sometimes you may want a darker bottom border to suggest three-dimensions
$buttonbottombordercolor : darken($buttonbordercolor, 17%);

// Set the default button’s border radius.
$buttonborderradius: .5rem;

// Set the default button’s text colour
// Colours for :hover and :active  are derived automatically from $buttoncolor
// Override colours for :hover and :active in _bootstrap-form-buttons.scss
$buttoncolor: $text-color;

// Set the primary action button’s border and text colours
$buttonbordercolorprimary		: darken($color-primary, 10%);
$buttoncolorprimary				: $white;


// Set the error button’s border and text colours
$buttonbordercolorerror			: darken($color-secondary, 10%);
$buttoncolorerror				: $white;


// Styles 

.btn {
    display: inline-block;
    padding: $buttonpadding;
    margin-bottom: 0;
    font-size: $font-size-base;
    line-height: $line-height;
    color: $buttoncolor;
    text-align: center;
    vertical-align: middle;
    background-color: $buttonbackgroundcolor;
    @include buttongrad;
    border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
    border-bottom-color: $buttonbottombordercolor;
    border-radius: $buttonborderradius;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: darken($buttoncolor, 20%);
        text-decoration: none;
    }

}

.btn-icon {
    @include zero;
    appearance: none;
    background-color: $color-neutral-500;
    border-radius: .25rem;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    margin: 0;
    padding: .5rem .75rem;
    border: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-text {
    @include zero;
    appearance: none;
    background: transparent;
    margin: 0;
    border: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-disabled {
    opacity: .5;
    cursor: default;
}


.btn-primary {
    background-color: $color-primary;
    @include primarygrad;

    border : {
        color: $buttonbordercolorprimary;
        bottom-color: darken($buttonbordercolorprimary, 10%);
    }

    color : $buttoncolorprimary;

    &:visited,
    &:active,
    &:hover {
        background-color: darken($color-primary, 3%);
        color: darken($buttoncolorprimary, 5%);
    }
}

.btn-danger {
    background-color: $color-secondary;
    @include errorgrad;

    border : {
        color: $buttonbordercolorerror;
        bottom-color: darken($buttonbordercolorerror, 10%);
    }

    color : $buttoncolorerror;

    &:visited,
    &:active,
    &:hover {
        background-color: darken($color-secondary, 10%);
        color: darken($buttoncolorerror, 5%);
    }
}


// Switch 

.radio-switch {
    background-color: $color-neutral-500;
    border-radius: .5rem;
    display: inline-flex;
    // padding: 0.25rem;
    gap: .75rem;
}

.radio-switch__label {
    border-radius: .35rem;
    cursor: pointer;
    width: 1.5rem;
    padding: 0.25rem .5rem;
    text-align: center;
}

// Selected 
.radio-switch__label:has(input:checked) {
    background-color: $color-primary-200;
    color: $white;
}

.radio-switch__input {
    display: none;
}