.btn-text {
    //display: block;
    @include zero;
    appearance: none;
    background: transparent;
    //padding: .5rem 1.5rem .5rem .75rem;
    margin: 0;
    border: 0;
    font-size: $font-size-base;
    color: $color-primary;
    cursor: pointer;
}

.btn--large {
    font-size: $font-size-large;
}

.btn-text--small {
    font-size: $font-size-small;
}

.btn {
    display: inline-block;
    padding: $buttonpadding;
    margin-bottom: 0;
    //@include font-size($buttonfontsize);
    line-height: $baselineheight;
    color: $buttoncolor;
    text-align: center;
    vertical-align: middle;
    background-color: $buttonbackgroundcolor;
    border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
    border-bottom-color: $buttonbottombordercolor;
    border-radius: $buttonborderradius;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: darken($buttoncolor, 20%);
        text-decoration: none;
    }

}

/*btn*/

.btn-disabled {
    opacity: .5;
    cursor: default;
}


.btn-primary {
    background-color: $primarycolor;

    // @include primarygrad;
    border : {
        color: $buttonbordercolorprimary;
        bottom-color: darken($buttonbordercolorprimary, 10%);
    }

    color : $buttoncolorprimary;

    &:visited,
    &:active,
    &:hover {
        background-color: darken($primarycolor, 3%);
        color: darken($buttoncolorprimary, 5%);
    }
}

.btn-danger {
    background-color: $errorcolor;

    // @include errorgrad;
    border : {
        color: $buttonbordercolorerror;
        bottom-color: darken($buttonbordercolorerror, 10%);
    }

    color : $buttoncolorerror;

    &:visited,
    &:active,
    &:hover {
        background-color: darken($errorcolor, 10%);
        color: darken($buttoncolorerror, 5%);
    }
}
 






