.btn {
    display: inline-block;
    padding: $buttonpadding;
    margin-bottom: 0;
    font-size: $font-size-base;
    line-height: $baselineheight;
    color: $buttoncolor;
    text-align: center;
    vertical-align: middle;
    background-color: $buttonbackgroundcolor;
    border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
    border-bottom-color: $buttonbottombordercolor;
    border-radius: $buttonborderradius;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: darken($buttoncolor, 20%);
        text-decoration: none;
    }

}

.btn-icon {
    @include zero;
    appearance: none;
    background-color: $color-neutral-500;
    border-radius: .25rem;
    display: inline-flex;
    align-items: center;
    gap: .75rem;    
    margin: 0;
    padding: .5rem .75rem;
    border: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-text {
    @include zero;
    appearance: none;
    background: transparent;
    margin: 0;
    border: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-disabled {
    opacity: .5;
    cursor: default;
}


.btn-primary {
    background-color: $primarycolor;

    // @include primarygrad;
    border : {
        color: $buttonbordercolorprimary;
        bottom-color: darken($buttonbordercolorprimary, 10%);
    }

    color : $buttoncolorprimary;

    &:visited,
    &:active,
    &:hover {
        background-color: darken($primarycolor, 3%);
        color: darken($buttoncolorprimary, 5%);
    }
}

.btn-danger {
    background-color: $errorcolor;

    // @include errorgrad;
    border : {
        color: $buttonbordercolorerror;
        bottom-color: darken($buttonbordercolorerror, 10%);
    }

    color : $buttoncolorerror;

    &:visited,
    &:active,
    &:hover {
        background-color: darken($errorcolor, 10%);
        color: darken($buttoncolorerror, 5%);
    }
}


// Switch 

.radio-switch {
    background-color: $color-neutral-500;
    border-radius: .5rem;
    display: inline-flex;
    // padding: 0.25rem;
    gap: .75rem;
}

.radio-switch__label {
    border-radius: .35rem;
    cursor: pointer;
    width: 1.5rem;
    padding: 0.25rem .5rem;
    text-align: center;
}

// Selected 
.radio-switch__label:has(input:checked) {
    background-color: $color-primary-200;
    color: $white;
}

.radio-switch__input {
    display: none;
}

