// Texts

.text-success {
    color: $success-color;
}

.text-warning {
    color: $warning-color;
}

.text-danger {
    color: $danger-color;
}

// Flexbox 

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-left: right;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

/* Easy equal width columns grid */

.d-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

