// List view

.list-view {

    @include zero;
    margin: 0 auto;
                      
    border-right: 1px solid $border-color;  

    overflow-y: auto;
    height: 100vh;

    li {
        @include zero;
    }

    .heading {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: .5rem 1.5rem;
        background: $color-neutral-600;
        border-bottom: 1px dotted $border-color;

        h2 {
            text-transform: uppercase;
            color: $text-color-muted;
            letter-spacing: 1px;
            font-size: $font-size-small;
        }
    }

    .entry {
        border-bottom: 1px dotted $border-color;
    }

    .heading,
    .entry {
        transform: translateX(-1rem);
        opacity: 0.5;
        transition: transform .16s ease-out .22s, opacity .16s ease-out .22s;
    }

    // Apply an incremental delay up to the first 10 entries up to 0.2s
    @for $i from 1 through 10 {
        .heading:nth-child(#{$i}),
        .entry:nth-child(#{$i}) {
            // Override default delay 
            transition-delay: calc(.02s * #{$i});
        }
    }

    // Entering
    &.in .heading,
    &.in .entry {
        transform: translateX(0);
        opacity: 1;
    }

    &.status-read {
        h3 {
            a:link {
                color: rgba($linkcolor, .7);
            }

            a:hover {
                color: $linkcolorhover;
            }
        }

        .meta .icon-read {
            display: inline-block;
        }

        .meta .icon-unread {
            display: none;
        }
    }

    .more {
        //text-align: center;
        background: $lightestneutralcolor;
        // border-bottom-left-radius: $borderradius;
        // border-bottom-right-radius: $borderradius;
        margin-bottom: 3.5rem;

        button {
            display: block;
            width: 100%;
            padding: .5rem 0;
        }
    }

}

.panel{
    flex-basis: 30em;  
    max-width: 30rem;
    position: relative;
}

.panel-content {

}

.entry__filter {
    background-color: rgba($color-neutral-400, .7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    //width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

// Card 

.entry-card {
}

.entry-card label {
    display: flex;
    align-items: center;
    gap: .5rem;

    background-color: $white;
    padding: $baselineheight/2 .75rem;

    transition: background-color .1s ease-out;
    cursor: pointer;

    &:hover .entry-card__title {
        text-decoration: underline;
    }
}

.entry-card__title {
    font-weight: 500;
    word-break: break-all;
    color: $color-primary;
    margin-bottom: .25rem;    
}

.entry-card__status {
    opacity: 0;
    font-size: .75rem;
    align-self: flex-start;
}

.status-read .entry-card__status {
    color: $text-color-muted;
    opacity: .45;
}

.status-unread .entry-card__status {
    color: $color-primary;
    opacity: 1;
}

.entry-card__feed {
    font-size: $font-size-xsmall;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .25rem;
    color: $text-color-muted;
}


.entry-card label {
    //outline: $btn-focus-ring;
}

// Radio button

.entry-card input:focus-visible~label {
    //outline: $btn-focus-ring;
}

.entry-card input:checked~label {
    background: $color-primary-500;
}

// Thumbnail 

.entry-card__thumbnail {
    // Push right
    margin: -0.75rem -0.75rem -0.75rem auto;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0; 
    img { 
        max-width: 100%;
        height: auto;
        object-fit: contain; 
    }
}