// List view

.list-view {

    @include zero;
    list-style: none;
    margin: 0 auto;
                      
    border-right: 1px solid $border-color;  

    overflow-y: auto;
    height: 100vh;

    li {
        @include zero;
    }

    .heading {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: .5rem 1.5rem;
        background: $color-neutral-600;
        border-bottom: 1px dotted $border-color;

        h2 {
            // text-transform: uppercase;
            color: $text-color-muted;
            // letter-spacing: 1px;
            // font-size: $font-size-small;
        }
    }

    .entry {
        border-bottom: 1px dotted $border-color;
    }

    .heading,
    .entry {
        transform: translateX(-1rem);
        opacity: 0.5;
        transition: transform .16s ease-out .22s, opacity .16s ease-out .22s;
    }

    // Apply an incremental delay up to 0.2s
    @for $i from 1 through 10 {
        .heading:nth-child(#{$i}),
        .entry:nth-child(#{$i}) {
            // Override default delay 
            transition-delay: calc(.02s * #{$i});
        }
    }

    // Entering
    &.in .heading,
    &.in .entry {
        transform: translateX(0);
        opacity: 1;
    }

    &.status-read {
        h3 {
            a:link {
                color: rgba($link-color, .7);
            }

            a:hover {
                color: $link-color-hover;
            }
        }

        .meta .icon-read {
            display: inline-block;
        }

        .meta .icon-unread {
            display: none;
        }
    }



}

.panel{
    position: relative;
}

.panel-content {

}

.entry__filter {
    background-color: rgba($color-neutral-400, .7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    //width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    // justify-content: space-between;
    align-items: stretch;
    padding: .5rem .5rem;
}

// Card 

.entry-card {
}

.entry-card label {
    display: flex;
    align-items: center;
    gap: .5rem;

    background-color: $white;
    padding: $line-height/2 .75rem;

    transition: background-color .1s ease-out;
    cursor: pointer;

    &:hover .entry-card__title {
        text-decoration: underline;
    }
}

.entry-card__title {
    font-weight: 500;
    word-break: break-all;
    color: $color-primary;
    margin-bottom: .25rem;    
}

.entry-card__status {
    width: 12px;
    height: 12px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23175b82' viewBox='0 0 256 256'%3E%3Cpath d='M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;    
    background-size: cover;
}

.status-read .entry-card__status {
    opacity: .45;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23918e8e' viewBox='0 0 256 256'%3E%3Cpath d='M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Z'%3E%3C/path%3E%3C/svg%3E");
}

.entry-card__feed {
    font-size: $font-size-small;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: .25rem;
    color: $text-color-muted;
}


.entry-card label {
    //outline: $btn-focus-ring;
}

// Radio button

.entry-card input:focus-visible~label {
    //outline: $btn-focus-ring;
}

.entry-card input:checked~label {
    background: $color-primary-500;
}

// Thumbnail 

.entry-card__thumbnail {
    // Push right
    margin: -0.75rem -0.75rem -0.75rem auto;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0; 
    img { 
        max-width: 100%;
        height: auto;
        object-fit: contain; 
    }
}