// Typography

$font-size-xsmall: 0.75rem;
$font-size-small: 0.875rem;
$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;

$line-height-small: 1.2;
$line-height: 1.5;

$font-family: system-ui, -apple-system, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-family-alt : $font-family;
$font-family-code: Consolas, Menlo, Monaco, "Courier New", monospace;

$font-weight: 400;
$font-weight-heading : 600;

$heading-color : inherit;

// Colors 

$white: #fff;
$black: #000;

// See https://components.ai/color-scale/fZYdaX1TXadjlTxcJbKO?tab=editor

$color-neutral-700: #f7f5f5;
$color-neutral-600: #ece9e9;
$color-neutral-500: #d9d5d5;
$color-neutral-400: #bbb7b7;
$color-neutral-300: #918e8e;
$color-neutral-200: #5e5c5c;
$color-neutral-100: #252424;

$color-primary-400: #d5e1e9;
$color-primary-300: #72a3bf;
$color-primary-200: #26729e;
$color-primary-100: #175b82;

$color-primary : $color-primary-100;
$color-secondary : #9c1c1e;


// Body 

$body-color: $color-neutral-400;
$body-background: $color-neutral-500;
$text-color: $color-neutral-100;
$text-color-muted: $color-neutral-300;


// Links

$link-color: $color-primary;
$link-color-hover: $link-color;
$link-color-visited: darken($link-color, 10);
$link-color-focus: $link-color-hover;


// Alerts 

$alert-color: darken(#e6eff5, 15%);
$error-color: $color-secondary;
$info-color: darken(#e6eff5, 15%);
$success-color: #5eb337;
$warning-color: #f7ea9c;
$danger-color: $color-secondary;

// Misc.

$border-color : $color-neutral-400;