// Typography

$font-size-xsmall: 0.75rem;
$font-size-small: 0.875rem;
$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;

$line-height-small: 1.2;
$line-height: 1.5;

$font-family: system-ui, -apple-system, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-family-alt : $font-family;
$font-family-code: Consolas, Menlo, Monaco, "Courier New", monospace;

$font-weight: 400;
$font-weight-heading : 600;

$heading-color : inherit;

// Colors 

$white: #fff;
$black: #000;

// See https://components.ai/color-scale/fZYdaX1TXadjlTxcJbKO?tab=editor

$color-neutral-700: #f7f5f5;
$color-neutral-600: #ece9e9;
$color-neutral-500: #d9d5d5;
$color-neutral-400: #bbb7b7;
$color-neutral-300: #918e8e;
$color-neutral-200: #5e5c5c;
$color-neutral-100: #252424;
// @@REMOVEME
$lighterneutralcolor: $color-neutral-600;

// Red-ish
// $color-neutral-700: hsl(0,5.88%,96.67%);
// $color-neutral-600: hsl(0,6.45%,87.84%);
// $color-neutral-500: hsl(0,6.67%,79.41%);
// $color-neutral-400: hsl(0,6.04%,70.78%);
// $color-neutral-300: hsl(0,2.75%,50%);
// $color-neutral-200: hsl(0,2.01%,29.22%);
// $color-neutral-100: hsl(0,2.33%,8.43%);

// // Orange-ish
// $color-neutral-700: hsl(40,23.08%,97.45%);
// $color-neutral-600: hsl(37.5,18.18%,91.37%);
// $color-neutral-500: hsl(32.73,12.94%,83.33%);
// $color-neutral-400: hsl(34.29,9.72%,71.76%);
// $color-neutral-300: hsl(30,5.31%,55.69%);
// $color-neutral-200: hsl(33.33,4.92%,35.88%);
// $color-neutral-100: hsl(30,5.71%,13.73%);

// // Red-ish 2
// $color-neutral-700: hsl(340,23.08%,97.45%);
// $color-neutral-600: hsl(345,18.18%,91.37%);
// $color-neutral-500: hsl(343.64,12.94%,83.33%);
// $color-neutral-400: hsl(342.86,9.72%,71.76%);
// $color-neutral-300: hsl(345,5.31%,55.69%);
// $color-neutral-200: hsl(346.67,4.92%,35.88%);
// $color-neutral-100: hsl(345,5.71%,13.73%);

$color-primary-500: #e9f0f5;
$color-primary-400: #d5e1e9;
$color-primary-300: #72a3bf;
$color-primary-200: #26729e;
$color-primary-100: #175b82;

$color-primary: $color-primary-100;
$color-secondary: #9c1c1e;


// Body 

$body-background: $color-neutral-500;
$text-color: $color-neutral-100;
$text-color-muted: $color-neutral-200;


// Links

$link-color: $color-primary;
$link-color-hover: $link-color;
$link-color-visited: darken($link-color, 10);
$link-color-focus: $link-color-hover;


// Alerts 

$alert-color: #b8cddb;
$success-color: #6bb349;
$warning-color: #e8db92;
$danger-color: $color-secondary;

// Misc.

$border-color : $color-neutral-400;

// Tables 

$table-padding : .5rem 0;
$table-background-color: transparent;
$table-background-stripe: $color-neutral-400;
$table-background-hover: $color-neutral-400;
$table-border-width: 1px;
$table-border-style: solid;
$table-border-color: $border-color;

// Layout 

$navbar-width: 240px;
$gutterwidth : 24px;