// Tree 

.tree-view {
    @include zero;
    //color: $white;
    dt {
        font-size: $font-size-xsmall;
        font-weight: 700;
        @include zero;
        padding: 0 .75rem;
        margin: 1.5rem 0 .25rem 0;
    }

    dd {
        @include zero;

        //margin-bottom: .75rem;
    }

    button {
        display: block;
        appearance: none;
        @include zero;
        padding: .5rem 1.5rem .5rem .75rem;
        background: transparent;
        border: 0;
        font-size: $font-size-small;
        cursor: pointer;
        color: inherit;

        &:hover {
            background: $color-neutral-400;
        }
    }
}

