// Tree 

.tree-view {
    @include zero;
    //color: $white;
    dt {
        font-size: $font-size-xsmall;
        font-weight: 700;
        @include zero;
        padding: 0 .75rem;
        margin: 1.5rem 0 .25rem 0;
    }

    dd {
        @include zero;

        //margin-bottom: .75rem;

        ul {
            list-style: none;                        
            li {
                @include zero;
            }
        }
        
        // Arrows
        
        details summary::-webkit-details-marker {
            display: none; // Hides marker on Safari 
        }
        
        details summary {
            list-style: none; // Other browsers
            display: flex;
            align-items: center;
            //gap: .25rem;
            //justify-content: space-between;
        }
        
        details summary:before {
            content: '';
            //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23252424' viewBox='0 0 256 256'%3E%3Cpath d='M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z'%3E%3C/path%3E%3C/svg%3E");
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23252424' viewBox='0 0 256 256'%3E%3Cpath d='M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z'%3E%3C/path%3E%3C/svg%3E");            
            background-size: 12px 12px;
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
            margin: 0 0 0 .25rem;
        }
        
        details[open] summary:before {
            transform: rotate(90deg);
        }        
    }

    .btn-item,
    .btn-folder {
        display: flex;
        align-items: center;
        gap: .25rem;
        appearance: none;
        @include zero;
        padding: .5rem .5rem .5rem .5rem;
        background: transparent;
        border: 0;
        font-size: $font-size-small;
        cursor: pointer;
        color: inherit;    
        flex-grow: 1;    
        
        &:hover {
            // color: $color-neutral-700;
            // transition: color .1s ease-out;
            text-decoration: underline;
        }   
    }

    .btn-item {
        font-size: $font-size-xsmall;
        padding: .5rem 1.5rem .5rem 1.5rem;

     
    }
}



