// Tree 

.tree-view {
    @include zero;
    //color: $white;
    dt {
        font-size: $font-size-xsmall;
        font-weight: 700;
        @include zero;
        padding: 0 .75rem;
        margin: 1.5rem 0 .25rem 0;
    }

    dd {
        @include zero;

        //margin-bottom: .75rem;

        ul {
            list-style: none;                        
            li {
                @include zero;
            }
        }
        
        // Arrows
        
        details summary::-webkit-details-marker {
            display: none; // Hides marker on Safari 
        }
        
        details summary {
            list-style: none; // Other browsers
            display: flex;
            justify-content: space-between;
        }
        
        details summary:after {
            //@include icon('\e920'); // Angle down
            content: '^';
        }
        
        details[open] summary:after {
            transform: rotate(180deg);
        }        
    }

    .btn-item,
    .btn-folder {
        display: flex;
        align-items: center;
        gap: .25rem;
        appearance: none;
        @include zero;
        padding: .5rem 1.5rem .5rem .75rem;
        background: transparent;
        border: 0;
        font-size: $font-size-small;
        cursor: pointer;
        color: inherit;        

        &:hover {
            background: $color-neutral-500;
        }
    }

    .btn-item {
        font-size: $font-size-xsmall;
        padding: .5rem 1.5rem .5rem 1.5rem;
    }
}



