body {
    // Keep browser default font size and scaled everything accordingly 
    font: normal 1em/#{$line-height} $font-family;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-small;
    font-weight: $font-weight-heading;
}

hr {
    clear : both;
    //display : block;
    //margin : $baselineheight * 2 0;
    padding : 0;
    height : 1px;
    border : 0;
    border-top : 1px solid $border-color; 
    margin: 1rem 0;
}