// Vars

// =wells ============

// Wells have a default flat background colour
// Add an optional gradient in _bootstrap-wells.scss
// Configure the gradient colours in _texture.scss
$wellbackgroundcolor : $color-neutral-500;
$wellaltbackgroundcolor : darken($color-neutral-500, 4%);

// Set wells’ border width
$wellborderwidth: 1px;

// And wells’ border style
$wellborderstyle: solid;

// Set the wells’ border radius.
$wellborderradius: .5rem;

// By default wells’ border is a tint of $wellbackgroundcolor. Adjust percentage as required
$wellbordercolor: $border-color;

// Styles 

.well {
    min-height: 2rem;
    padding: .75rem;
    margin-bottom: 1rem;
    background-color: $wellbackgroundcolor;
    border: $wellborderwidth $wellborderstyle $wellbordercolor;
    border-radius: $wellborderradius;
    color: $text-color;

    p:last-child {
        margin-bottom: 0;
    }
}

.well--large {
    padding: 1.5rem;
}

.well--small {
    padding: .375rem;
}

.well--dim {
    background-color: $wellaltbackgroundcolor;
}