/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

$media-queries-supported: true;

// Theme vars
@import 'theme';

// Import all SASS Bootstrap imports
@import 'imports';
@import 'buttons';
@import 'tree-view';
@import 'list-view';
@import 'article-view';


html,
body {
    height: 100%;
    overflow-y: hidden;
    // Keep browser default font size and scaled everythign accordingly 
    font: normal 1em/#{$line-height} $font-family;
    color: $text-color;
    background : $body-background;
}

body {
    display: flex;
}

.dim {
    color: $lightneutralcolor;

    a {
        color: $lightneutralcolor;

        &:visited {
            color: $lightneutralcolor;
        }

        &:hover {
            color: $linkcolorhover;
        }

        &:focus {
            color: $linkcolorfocus;
        }
    }
}


.meta {
    font-size: $font-size-small;
    
    .actions {
        .fa {
            cursor: pointer;
        }
    }

    .icon-saved {
        color: #ebcd0c;
    }
}

.expanded {
    .meta {
        .feed {
            text-transform: uppercase;
            //@extend .spaced;
        }

        .actions {
            float: right;
        }
    }
}


.help-text {
    //@extend abbr[title];
}

.tooltip {
    white-space: nowrap;

    &.bottom {
        margin-bottom: 7px;
    }
}

.popover-content {
    .btn {
        display: block;
        margin: 0 0 $baselineheight / 3 0;
    }

    .btn:last-child {
        margin-bottom: 0;
    }
}

footer[role="contentinfo"] {
    @include zero;
    margin: $baselineheight*3 0 $baselineheight 0;
    text-align: center;

    .fa-heart {
        cursor: help;
    }
}

.page {
    margin: $baselineheight/2 auto 0 auto;
    background: $white;
    padding: $baselineheight $gutterwidth*1.5;
    @include box-shadow(0 0 4px $lightneutralcolor);
    border-radius: $borderradius;
}

dl.shortcuts {
    @include zero;
    @include font-size(14);

    dt {
        margin: $baselineheight 0 $baselineheight/2 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $lightneutralcolor;
        font-weight: bold;
    }

    dd {
        margin-bottom: $baselineheight/2 !important;
    }
}

// A keyboard shortcut

kbd {
    //@include font-size(13);
    padding: 2px 0;
    width: 2em;
    display: inline-block;
    background: $lightestneutralcolor;
    text-align: center;
    border-radius: $borderradius;
    color: $neutralcolor;
    text-transform: uppercase;
    box-shadow: 0 1px 0 $lightneutralcolor;
}


pre {
    background: $lightestneutralcolor;
    border-radius: $borderradius;
    padding: 8px 4px;
}


// Colored one-liner messages on forms or sitting on top of the page
.alert {
    text-align: center;
    margin: 0;
}

// Messages taking all panel height
.notice {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .dim;

    i {
        display: block;
        opacity: .6;
        margin: $baselineheight 0 0;
    }

}


// =flash ================================

.flash {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -3em;
    margin-top: -3em;
    z-index: 3;
    width: 6em;
    padding: $baselineheight*2 $gutterwidth*2;

    border-radius: $borderradius;
    background: rgba($lightestneutralcolor, .85);
    text-align: center;
}

.loading {
    text-align: center;
    color: $neutralcolor;
    //margin: $baselineheight/2 0;
}


// Forms

#modal-feed-edit {

    table {
        margin-top: $baselineheight;
    }


    th,
    td {
        border-top-color: $lighterneutralcolor;
    }

    .enabled {
        color: $successcolor;
    }

    .disabled {
        color: $errorcolor;
    }

    code {
        background: $lightestneutralcolor;
        border-radius: $borderradius;
        padding: 2px 4px;
    }

    .favicon {
        vertical-align: baseline;
    }
}

// nav

nav {
    background: $color-neutral-400;
    height: 100vh;
    overflow-y: scroll;
}

.nav__branding  {
    margin: .75rem 0 0 .75rem;
    font-size: 2rem;
    color: $color-primary;
}


// Customized Bootstrap dropdown menu

.dropdown {
    .dropdown-menu {
        @include zero;
        min-width: 12em;
        position: absolute;
        z-index: 4;
        top: -3px;
        left: 2.6em;
        display: none;
        background: $white;
        border: 1px solid $border-color;
        border-radius: $borderradius;
        @include box-shadow(0 0 4px rgba($neutralcolor, .5));

        a {
            @include font-size(14);
            white-space: nowrap;
            border-bottom: 1px solid $border-color;

            &:hover {
                color: $navigationlinkcolor;
                background: $lightestneutralcolor
            }
        }

        li:last-child a {
            border-bottom: none;
        }
    }

    &.open {
        background: darken($navigationbackgroundcolor, 15%); // Like hover

        // Show 
        .dropdown-menu {
            display: block;
        }
    }
}

// dropdown

.radio-switch {
    background-color: $color-neutral-500;
    border-radius: .5rem;
    display: inline-flex;
    padding: 0.25rem;
    gap: .75rem;
}

.radio-switch__label {
    border-radius: .35rem;
    cursor: pointer;
    width: 1.5rem;
    padding: 0.25rem .5rem;
    text-align: center;
}

// Selected 
.radio-switch__label:has(input:checked){
    background-color: $color-primary-200;
    color: $white;
}

.radio-switch__input {
    display: none;
}


.alerts {
    position: absolute;
    bottom: 3rem;
    z-index: 1;
    max-width: 80%;
}