/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

$media-queries-supported: true;
$list-view-width: 25em;
$navwidth: 52px;

// Import all SASS Bootstrap imports
@import 'imports';

@import 'theme';

// App views
@import 'list-view';
@import 'article-view';


html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    display: flex;
}

.dim {
    color: $lightneutralcolor;

    a {
        color: $lightneutralcolor;

        &:visited {
            color: $lightneutralcolor;
        }

        &:hover {
            color: $linkcolorhover;
        }

        &:focus {
            color: $linkcolorfocus;
        }
    }
}


.meta {
    @include font-size(14);

    .actions {
        .fa {
            cursor: pointer;
        }
    }

    .icon-saved {
        color: #ebcd0c;
    }
}

.expanded {
    .meta {
        .feed {
            text-transform: uppercase;
            @extend .spaced;
        }

        .actions {
            float: right;
        }
    }
}


.help-text {
    //@extend abbr[title];
}

.tooltip {
    white-space: nowrap;

    &.bottom {
        margin-bottom: 7px;
    }
}

.popover-content {
    .btn {
        display: block;
        margin: 0 0 $baselineheight / 3 0;
    }

    .btn:last-child {
        margin-bottom: 0;
    }
}

.module {
    max-width: $list-view-width;
    margin: 0 auto $baselineheight auto;

    h2 {
        margin-top: 0;
    }

    // Title
}

.panel {
    box-sizing: border-box;
    //margin: $baselineheight/2 $gutterwidth/2 0 $navwidth + $gutterwidth/2; // Make room for left nav
}



footer[role="contentinfo"] {
    @include zero;
    margin: $baselineheight*3 0 $baselineheight 0;
    text-align: center;

    .fa-heart {
        cursor: help;
    }
}

.page {
    max-width: $list-view-width;
    margin: $baselineheight/2 auto 0 auto;
    background: $white;
    padding: $baselineheight $gutterwidth*1.5;
    @include box-shadow(0 0 4px $lightneutralcolor);
    border-radius: $borderradius;
}

dl.shortcuts {
    @include zero;
    @include font-size(14);

    dt {
        margin: $baselineheight 0 $baselineheight/2 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $lightneutralcolor;
        font-weight: bold;
    }

    dd {
        margin-bottom: $baselineheight/2 !important;
    }
}

// A keyboard shortcut

kbd {
    //@include font-size(13);
    padding: 2px 0;
    width: 2em;
    display: inline-block;
    background: $lightestneutralcolor;
    text-align: center;
    border-radius: $borderradius;
    color: $neutralcolor;
    text-transform: uppercase;
    box-shadow: 0 1px 0 $lightneutralcolor;
}


pre {
    background: $lightestneutralcolor;
    border-radius: $borderradius;
    padding: 8px 4px;
}


// Colored one-liner messages on forms or sitting on top of the page
.alert {
    text-align: center;
    margin: 0;
}

// Messages taking all panel height
.notice {
    text-align: center;
    margin: 25% 0 20% 0;
    @extend .dim;

    i {
        display: block;
        opacity: .6;
        margin: $baselineheight 0 0;
    }

}


// =flash ================================

.flash {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -3em;
    margin-top: -3em;
    z-index: 3;
    width: 6em;
    padding: $baselineheight*2 $gutterwidth*2;

    border-radius: $borderradius;
    background: rgba($lightestneutralcolor, .85);
    text-align: center;
}

.loading {
    text-align: center;
    color: $neutralcolor;
    //margin: $baselineheight/2 0;
}


// Forms

#modal-feed-edit {

    table {
        margin-top: $baselineheight;
    }


    th,
    td {
        border-top-color: $lighterneutralcolor;
    }

    .enabled {
        color: $successcolor;
    }

    .disabled {
        color: $errorcolor;
    }

    code {
        background: $lightestneutralcolor;
        border-radius: $borderradius;
        padding: 2px 4px;
    }

    .favicon {
        vertical-align: baseline;
    }
}


nav {

    // position: fixed;
    // top: 0;
    // bottom: 0;
    // z-index: 3;

    background: $navigationbackgroundcolor;

    a {
        color: $navigationlinkcolor;

        &:visited {
            color: $navigationlinkcolor;
        }

        &:hover {
            text-decoration: none;
            color: $navigationlinkcolorhover;
            background: darken($navigationbackgroundcolor, 15%);
        }

        &:focus {
            color: $navigationlinkcolorhover;
        }
    }

    ul {

        @include zero;
        list-style: none;

        >li {
            position: relative;

            &.sep {
                margin-top: $baselineheight/2;
            }

            &.branding {
                color: $white;
                background: darken($primarycolor, 10%);
                padding: $baselineheight/4 $baselineheight/1.5;
                @include font-size(16);
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            >a {
                display: block;
                @include font-size(16);
                padding: $baselineheight/4 $baselineheight/1.5;
                text-transform: capitalize;
            }

        }

        &.unread li.filter-unread,
        &.saved li.filter-saved,
        &.feeds li.filter-feeds,
        &.groups li.filter-group,
        &.all li.filter-all {
            >a {
                color: $white;
                background: $neutralcolor;
            }
        }
    }

}

// nav


// Customized Bootstrap dropdown menu

.dropdown {
    .dropdown-menu {
        @include zero;
        min-width: 12em;
        position: absolute;
        z-index: 4;
        top: -3px;
        left: 2.6em;
        display: none;
        background: $white;
        border: 1px solid $bordercolor;
        border-radius: $borderradius;
        @include box-shadow(0 0 4px rgba($neutralcolor, .5));

        a {
            @include font-size(14);
            white-space: nowrap;
            border-bottom: 1px solid $bordercolor;

            &:hover {
                color: $navigationlinkcolor;
                background: $lightestneutralcolor
            }
        }

        li:last-child a {
            border-bottom: none;
        }
    }

    &.open {
        background: darken($navigationbackgroundcolor, 15%); // Like hover

        // Show 
        .dropdown-menu {
            display: block;
        }
    }
}

// dropdown