<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>    
<h3>Cheatsheet</h3>
</div>
<div class="modal-body">
    <article>   
        <div class="content">            
            <h2>Keyboard Shortcuts</h2>                  
            <dl class="shortcuts">
                <dt>Lists</dt>
                <dd><kbd>1</kbd>&ensp;Unread entries
                </dd>
                <dd><kbd>2</kbd>&ensp;Saved entries
                </dd>
                <dd><kbd>3</kbd>&ensp;All entries
                </dd>
                <dd><kbd>4</kbd>&ensp;Feeds 
                </dd>              
                <dt>Entry page</dt>                
                <dd><kbd>k</kbd>&ensp;Next
                </dd>        
                <dd><kbd>m</kbd>&ensp;Mark/unmark as read 
                </dd>
                <dd><kbd>s</kbd>&ensp;Save/unsave
                <dd><kbd>v</kbd>&ensp;View entry on original website
            </dl>                

            
            <!--
            <hr>
            
            <h2>Subscribe Feed Bookmarklet</h2>
            
            <p>Drag the bookmarklet below to you browser toolbar and subscribe any feed with one click.</p>
            <p><a href="javascript:location.href='{{application_url}}/feeds/add?self_link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)"><i class="fa fa-bookmark-o"></i> Subscribe Feed</a></p>
            -->
            <hr>

            <h2>Sync with Your Reader</h2>
            
            <p>Configure your favorite feed reader using your Coldsweat credentials and this web address:</p>            
            <p><pre><code>{{request.application_url}}/fever</code></pre></p>
                    
            <hr>
                            
            <h2>Command-line Utilities</h2>
            
            <h3>Import and Export Subscriptions</h3>
            <p>Use the <code>sweat</code> command-line script to import your subscription in OPML/XML format:</p>
            
            <p><pre>$ python sweat.py import /path/to/subscriptions.xml</pre></p>
            
            <p>Also, there is a <code>export</code> command to save your subscriptions in OPML/XML format:</p>
            
            <p><pre>$ python sweat.py export /path/to/subscriptions.xml</pre></p>
            
            <h3>Refresh Feeds</h3>
            
            <p><pre>$ python sweat.py refresh</pre></p>
            
            <p>You should use Cron or similar utilities to schedule feeds refresh on a regular basis.</p>
            
            <hr>
            
            <h2>Get Support</h2>        
            <ul>
                <li>
                 Check <a target="_blank" href="https://github.com/passiomatic/coldsweat/wiki">Coldsweat wiki</a> for setup, deploy and developer information.
                </li>
            
                <li>
                    <a target="_blank" href="https://github.com/passiomatic/coldsweat/issues">Open an issue on GitHub</a>
                </li>
                <li>        
                Contact me via e-mail: <a href="&#109;&#x61;&#x69;l&#116;&#111;:&#x63;&#111;&#108;&#x64;&#115;&#x77;&#x65;&#x61;t&#64;&#112;&#97;&#115;&#115;&#105;&#x6F;&#x6D;&#x61;&#116;&#105;&#x63;&#46;&#x63;&#111;m?subject=Coldsweat%20issue">&#x63;&#111;&#108;&#x64;&#115;&#x77;&#x65;&#x61;t&#64;&#112;&#97;&#115;&#115;&#105;&#x6F;&#x6D;&#x61;&#116;&#105;&#x63;&#46;&#x63;&#111;m</a>
                </li>
            </ul>
        </div>
    </article> 
</div><!-- /modal-body -->

