{{if entry.content}} 
    <div class="content">
        {{entry.content}}
    </div>            
<!--     <hr class="tight"> -->
{{endif}}
<aside>
    <div class="meta dim">
        <ul>
            <li>
                Posted {{entry.last_updated_on|since}}{{if entry.author}} by <b>{{entry.author}}</b>{{endif}}
            </li>
            {{if entry.link}}
            <li>
                <a target="_blank" href="{{entry.link}}">View original</a>
            </li>
            {{endif}}
        </ul>
    </div>
</aside>
