<form action="{{application_url}}/feeds/add" method="POST">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
    <h3>Add Subscription</h3>
  </div>
  <div class="modal-body">          
        {{message}}
        <label for="self-link-field">Web address (URL) for the feed</label> 
        <input type="text" id="field-self-link" autofocus name="self_link"  size="40" value="">
        {{if group_count > 1}}
            <label>Add to group <select name="group">
                {{for g in groups}}
                    <option {{if g.title == g.DEFAULT_GROUP}}selected="selected"{{endif}} value="{{g.id}}">{{g.title}}</option> 
                {{endfor}}
            </select></label>             
        {{endif}}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Continue</button>
  </div>
</form>
