<div class="content">
    
    
    
    <form action="/ajax/feeds/{{feed.id}}" method="post">
        
        There are <a href="?feed={{feed.id}}">32 unread entries</a> in this feed &middot; <a target="_blank" href="{{feed.alternate_link}}">Visit feed web page</a>&middot;
        
        {{if feed.is_enabled}}
            <button class="btn" type="submit">Disable this Feed</button>
        {{else}}
            <button class="btn " type="submit">Enable this Feed</button>
        {{endif}}        
    </form>
        
</div>            
