<meta charset="UTF-8">
<meta name="description" content="">    
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width">

<!-- Google web fonts -->
<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:700italic,700,400italic,400' rel='stylesheet' type='text/css'> -->

<!-- <link rel="stylesheet" href="$base_uri/coldsweat/stylesheets/all.css" type="text/css"> -->

<!--[if lt IE 9]>
    <script src="$base_uri/coldsweat/javascripts/html5.js"></script>
<![endif]-->