<div class="panel-title">
    <h2 class="h3">{{panel_title}}</h2>
</div>
<div class="panel-content">
    {{if feed_count}}
        <ul>                      
        {{for loop, f in looper(feeds)}}
            <li id="{{f.id}}" class="{{if loop.first}}current{{endif}} {{if not f.is_enabled}}status-disabled{{endif}}">
                <h3 class="h4">
                    <img class="favicon" src="{{f.icon.data}}" width="16" height="16" alt="*"><a href="/ajax/feeds/{{f.id}}">{{f.title}}</a>
                </h3>
                <div class="meta dim">
                    Last updated {{f.last_updated_on|since}}
                </div>                                              
                <!-- {{f.alternate_link}} -->
                <article>&nbsp;<!-- placeholder -->                                
                </article>                
            </li>
        {{endfor}}
            <li class="more">
                <form action="?{{request.query_string}}&amp;t=0" method="get">
                    <button type="submit" class="btn">Load more feeds</button>
                </form>
            </li>
        </ul>
    {{else}}
        <div class="notice">
            <i class="icon-tint icon-4x"></i>
            No feeds found. <a href="#">Add some feeds now</a>.
        </div>
    {{endif}}
</div>



