<div class="panel-title">
<!--
    <div class="t" style="float: right">
        <button class="btn btn-small"><i class="icon-check"></i> Mark All as Read</button>
    </div>
-->
    <h2 class="h3">{{panel_title}}</h2>
</div>
<div class="panel-content">

                {{if entry_count}}
                    <ul>                      
                    {{for loop, e in looper(entries)}}
                        <li id="{{e.id}}" class="{{if loop.first}}current{{endif}} {{if e.id in saved_ids}}status-saved{{endif}} {{if e.id in read_ids}}status-read{{endif}}">
                            <h3 class="h4">
                                <img class="favicon" src="{{e.feed.icon.data}}" width="16" height="16"  alt="*"><a href="/ajax/entries/{{e.id}}">{{e.title}}</a>
                            </h3>
                            <div class="meta dim">
                                <i class="icon-circle" title="Unread"></i><i class="icon-circle-blank" title="Read"></i>&ensp;
                                <a title="Show all entres for this feed" href="?feed={{e.feed.id}}">
                                    {{if e.author}}{{e.author}}{{else}}{{e.feed.title}}{{endif}}
                                </a>             
                                &ensp;{{e.last_updated_on|since}}
                            </div>                  
                            <article></article>
                        </li>
                    {{endfor}}
                        <li class="more">
                            <form action="/ajax/entries/?{{request.query_string}}&amp;page={{page_id+1}}">
                                <button type="submit" class="btn">Load more entries</button>
                            </form>
                        </li>
                    </ul>
                {{else}}
                    <div class="notice">
                        <i class="icon-tint icon-4x"></i>
                        No entries found.
                    </div>
                {{endif}}
<!--                 <div class="loading"><i class="icon-spinner icon-spin"></i> Loading&hellip;</div> -->
</div>



