<div class="modal-header">
<h3>Keyboard Shortcuts</h3>
</div>
<div class="modal-body">
  <dl class="">
    <dt>Navigation</dt>
    <dd><kbd>j</kbd>&ensp;Previous entry 
    </dd>
    <dd><kbd>k</kbd>&ensp;Next entry 
    </dd>        
    <dt>Entry Listing</dt>
    <dd><kbd>o</kbd>&ensp;Open entry  
    </dd>
    <dd><kbd>m</kbd>&ensp;Mark entry as read 
    </dd>
    <dd><kbd>s</kbd>&ensp;Save entry 
<!--

    <dt>Feed listing</dt>
    <dd><kbd>m</kbd>&ensp;Mark entire feed as read 
    </dd>
    <dd><kbd>o</kbd>&ensp;Open feed  
    </dd>
-->
<!--
    <dt>Misc.</dt>
    <dd><kbd>?</kbd>&ensp;Show this help text 
    </dd>
    <dd><kbd>a</kbd>&ensp;Add a subscription 
    </dd>
-->
  </dl>
</div>
<div class="modal-footer">
<button data-dismiss="modal" type="button" class="btn btn-primary">Close</button>
</div>
