<!doctype html>
<!-- 
Coldsweat — http://lab.passiomatic.com/coldsweat/
-->
<html lang="en">
<head>
<meta charset="utf-8">
{% block title_block %}
    <title>Coldsweat</title>
{% endblock %}
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='{{ url_for("static", filename="stylesheets/app.css") }}'>
<link rel="apple-touch-icon" sizes="152x152" href='{{ url_for("static", filename="apple-icon.png") }}'>
<link rel='mask-icon' href='{{ url_for("static", filename="favicon.svg") }}' color='#26729e'>
<link rel="shortcut icon" href='{{ url_for("static", filename="favicon.png") }}' sizes="32x32">
<meta name="apple-mobile-web-app-title" content="Coldsweat">
<script defer src='{{ url_for("static", filename="app.js") }}'></script>
{% block head_block %}{% endblock %}
</head>
<body>
    <!-- ALERTS -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alerts">
                {% for category, message in messages %}
                    <div class="alert alert--{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block container_block %}{% endblock %}
    <dialog id="dialog">
        <div class="dialog-content">
        </div>
        <!-- <button class="btn-icon" onclick="Sweat.closeDialog(event);" type="button" name="close">
            <img src="/static/icon-close.svg" width="32" height="32" alt="Close"> 
            Cancel
        </button> -->
    </dialog>
    <script>
        window.applicationURL = '{{request.root_url}}';
    </script>
</body>
</html>






