{{inherit "index.html"}}
 
{{def panel_block}}
<div class="panel-title">
<!--
    <div class="t" style="float: right">
        <button class="btn btn-small"><i class="icon-check"></i> Mark All as Read</button>
    </div>
-->
    <h2 class="h3">{{panel_title}}&ensp;<span>{{entry_count}}</span></h2>
</div>
<div class="panel-content">

    {{if entry_count}}
        <ul class="view list-view">                      
            {{for loop, e in looper(entries)}}
                <li data-id="{{e.id}}" class="entry {{if loop.first}}current{{endif}} {{if e.id in saved_ids}}status-saved{{endif}} {{if e.id in read_ids}}status-read{{endif}}">
                    <div class="item-inner">
                        <h3 class="h4">
                            <img class="favicon" src="{{e.feed.icon.data}}" width="16" height="16"  alt="*"><a href="{{application_url}}/entries/{{e.id}}">{{e.title}}</a>
                        </h3>
                        <div class="meta dim">
                            <i class="icon-unread icon-circle" title="Unread"></i><i class="icon-saved icon-star" title="Saved"></i><a title="Show all entries for this feed" href="{{application_url}}/?feed={{e.feed.id}}">{{e.feed.title}}</a>
                        </div>                  
                        <article></article>
                    </div>
                </li>
            {{endfor}}
            {{if offset < entry_count }}
            <li class="more">
                <form action="{{application_url}}/entries/?{{filter_name}}&amp;offset={{offset}}">
                    <button type="submit" class="btn">Load More Entries</button>
                </form>
            </li>
            {{endif}}
        </ul>
    {{else}}
        <div class="notice">
            <i class="icon-tint icon-4x"></i>
            No entries found.
        </div>
    {{endif}}
</div>
{{enddef}}



