{{def render_feeds}}
    {{for loop, f in looper(feeds)}}
        <li class="feed {{if loop.first}}current{{endif}} {{if not f.is_enabled}}status-disabled{{endif}}">
            <div class="item-inner">
                <h3 class="h4">
                    <img class="favicon" src="{{f.icon.data}}" width="16" height="16" alt="*"><a title="Show all entries for feed" href="{{application_url}}/?feed={{f.id}}">{{f.title|html}}</a>
                </h3>
                <div class="meta dim">
                    {{if f.is_enabled}}
                        <i class="fa fa-clock-o"></i> <span class="help-text"  title="Last check">{{f.last_checked_on|since|capitalize}}</span>&emsp;
                    {{else}}
                        <i class="fa fa-warning"></i> Disabled&emsp;
                    {{endif}}  
                    <i class="fa fa-cog"></i> <a href="{{application_url}}/feeds/edit/{{f.id}}" data-remote-modal="modal-feed-edit">More&hellip;</a>
                </div>                                              
            </div>
        </li>
    {{endfor}}
    {{if offset < count }}
        <li class="more">
            <i class="fa fa-chevron-down"></i>&ensp;<a href="{{application_url}}/feeds/?offset={{offset}}">More feeds</a>
        </li>
    {{endif}}            
{{enddef}}

{{# Ajax request?}}
{{if request.is_xhr}}
    {{render_feeds()}}
{{else}}
    {{inherit "index.html"}}
    
    {{def panel_block}}
    {{if count}}
        <div class="panel-content">
            <ul class="view grid-view">                      
                {{render_feeds()}}
            </ul>
        </div>
    {{else}}
        <div class="notice">
            <i class="fa fa-tint fa-4x"></i>
            No feeds found. <!-- <a href="#">Add some feeds now</a>. -->
        </div>
    {{endif}}
    {{enddef}}
{{endif}}