{{py:
def feed_status(feed, threshold):
    if not feed.is_enabled:
        return 'status-disabled'
    if threshold and feed.error_count > (threshold * .80):
        return 'status-sick'
    return ''
}}


{{def render_feeds}}
    {{for loop, f in looper(feeds)}}
        <li class="feed {{if loop.first}}current{{endif}} {{feed_status(f, error_threshold)}}">
            <div class="item-inner">
                <h3 class="h4">
                    <img class="favicon" src="{{f.icon.data}}" width="16" height="16" alt="*"><a title="Show all entries for feed" href="{{application_url}}/?feed={{f.id}}">{{f.title|html}}</a>
                </h3>
                <div class="meta dim">
                    <span class="feed">
                        {{if f.entries}}{{f.entries}}{{else}}No{{endif}} entries&emsp;
                        {{if not f.is_enabled}}
                            <i class="fa fa-warning"></i> Disabled
                        {{endif}}  
                    </span>
                    <span class="actions">
                        <a href="{{application_url}}/feeds/edit/{{f.id}}" data-remote-modal="modal-feed-edit"><i class="fa fa-cog"></i> Feed status</a>
                    </span>
                </div>                                              
            </div>
        </li>
    {{endfor}}
    {{if offset < count }}
        <li class="more">
            <a href="{{application_url}}/feeds/?offset={{offset}}">More</a>
        </li>
    {{endif}}            
{{enddef}}

{{# Ajax request?}}
{{if request.is_xhr}}
    {{render_feeds()}}
{{else}}
    {{inherit "index.html"}}
    
    {{def panel_block}}
    {{if count}}
        <div class="panel-content">
            <ul class="view list-view">                      
                {{render_feeds()}}
            </ul>
        </div>
    {{else}}
        <div class="notice">
            <i class="fa fa-tint fa-4x"></i>
            No feeds found. <!-- <a href="#">Add some feeds now</a>. -->
        </div>
    {{endif}}
    {{enddef}}
{{endif}}