{{inherit "site.html"}}

{{def content}}


<section class="alt">

    <div class="grid-container">

    
      <div class="grid-100">

            <h1>Fever Endpoint</h1>

         <div class="well well--large">
                <h2>Configure Your Feed Reader</h2>
              
              <p>Sync with Coldsweat using the address below:</p>
        
              <code>{{request.application_url}}/fever</code>
                        
         </div>
                           
      </div>
                        
    
    <!-- /grid-container -->
    </div>
</section> 
     
 
    
{{enddef}}
