{{inherit "site.html"}}

{{def container_block}}

<div class="container-inner">
<div class="grid-container">

    <div class="grid-50">

        <h1>Fever Endpoint</h1>
        
        <p>You should use the address of this page to configure your Fever client.
        </p>      
        
        <div>
            <a class="btn" href="{{application_url}}/guide">Configure Your Client</a>
        </div>
    </div>
                        
<!-- /grid-container -->
</div>
<!-- /container-inner -->     
</div>
 
    
{{enddef}}
