{{inherit "site.html"}}

{{def container_block}}
    <nav role="navigation">
        <ul class="{{filter_class}}">
            <li class="branding">
                <span><i class="icon-tint"></i></span> Coldsweat
            </li>

            <li class="filter filter-unread"><a title="Unread entries" href="{{application_url}}/entries/?unread"><span><i class="icon-circle"></i></span>&ensp;Unread</a></li>
            <li class="filter filter-saved"><a title="Saved entries" href="{{application_url}}/entries/?saved"><span><i class="icon-star"></i></span>&ensp;Saved</a></li>
            <li class="filter filter-all"><a title="All entries" href="{{application_url}}/entries/?all"><span><i class="icon-archive"></i></span>&ensp;All</a></li>

            {{if group_count > 1}}
                {{for g in groups}}
                    <li class="filter {{if g.id == group_id}}filter-group{{endif}}"><a href="{{application_url}}/entries/?group={{g.id}}"><span><i class="{{if g.id == group_id}}icon-folder-open{{else}}icon-folder-close{{endif}}"></i></span>&ensp;{{g.title}}</a></li>            
                {{endfor}}        
            {{endif}}
            
            <li class="sep filter filter-feeds"><a href="{{application_url}}/feeds/"><span><i class="icon-rss"></i></span>&ensp;Feeds</a></li>            
            <li><a href="{{application_url}}/feeds/add" data-remote-modal="modal-add-subscription"><span><i class="icon-plus-sign-alt"></i></span>&ensp;Add subscription</a></li>            
            <li class="sep"><a data-remote-modal href="{{application_url}}/shortcuts"><span><i class="icon-keyboard"></i></span>&ensp;Keyboard Shortcuts</a></li>            
            <li class=""><a href="{{application_url}}/logout"><span><i class="icon-cog"></i></span>&ensp;Log out</a></li>
        </ul>
    </nav>  
        
    <section  class="panel">
        {{self.panel_block}}
    </section>
{{enddef}}

{{def page_script_block}}
<script>
head.js(
// Place scripts to be loaded here, in the order the need to be executed
// Typically libraries are needed first, such as jQuery (as the plugins 
// depend on jQuery to execute). The below configuration is what Rock 
// Hammer uses, but customise this for your own needs.
// Ensure all filenames you wish head.js to load are surrounded with 
// quotes. Also, this is a list, so ensure that all but the last item 
// are followed by a comma.

// Libraries
"{{static_url}}/javascripts/vendor/modernizr-min.js",
"{{static_url}}/javascripts/vendor/jquery-min.js",

// Plugins
"{{static_url}}/javascripts/plugins.js",

// Load bootstrap-transition first so that nice glides/fades 
// etc for the other bootstrap plugins work
"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-transition.js",
//"javascripts/vendor/bootstrap/bootstrap-carousel.js",
//"javascripts/vendor/bootstrap/bootstrap-tooltip.js",

// Popover has a dependency on tooltip, so make sure and include 
// bootstrap-tooltip regardless in order for popovers to work
//"javascripts/vendor/bootstrap/bootstrap-popover.js",
"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-modal.js",
//"javascripts/vendor/bootstrap/bootstrap-collapse.js",

// App scripts
"{{static_url}}/javascripts/app.js?{{version_string}}"
);
</script>
{{enddef}}
