{{inherit "site.html"}}

{{def one}}
    <ul>
        <li class="filter-unread"><a href="{{application_url}}?unread"><i class="icon-file"></i>&ensp;Unread</a></li>
        <li class="filter-starred"><a href="{{application_url}}?starred"><i class="icon-star"></i>&ensp;Starred</a></li>
        <li class="filter-none"><a href="{{application_url}}?all"><i class="icon-reorder"></i>&ensp;All</a></li>
        <li class="sep"><a href="{{application_url}}?name"><i class="icon-folder-close"></i>&ensp;Design</a></li>    
        <li class=""><a href="{{application_url}}?name"><i class="icon-folder-close"></i>&ensp;Programming</a></li>    
        <li class=""><a href="{{application_url}}?name"><i class="icon-folder-close"></i>&ensp;News &amp; Media</a></li>    
    </ul>
{{enddef}}


{{def two}}

<div class="panel-title">
    <h2 class="h3">{{page_title}}</h2>
<!--
    <div class="t">
        <button class="btn"><i class="icon-check"></i> Mark All as Read</button>
    </div>
-->
</div>

<div class="entries">

    <div id="scrollbar1" class="scrollable">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            <div class="overview">
    
                <ul>
                  
                {{for loop, e in looper(last_entries)}}
                    <li id="{{e.id}}" class="{{if loop.first}}current{{endif}} {{if e.id in saved_ids}}status-saved{{endif}} {{if e.id in read_ids}}status-read{{endif}}">
                        <h3 class="h4">
                            <img src="{{e.feed.icon.data}}" width="16" height="16"  alt="*"><a data-id="{{e.id}}" href="{{e.link}}">{{e.title}}</a>
                        </h3>
                        <div class="meta dim">
                            {{if e.author}}
                                {{e.author}}
                            {{else}}    
                                {{e.feed.title}}
                            {{endif}}                    
                            &middot; {{e.last_updated_on|timestamp}}
                        </div>                  
                
                    </li>
                {{endfor}}
                
                </ul>
            
                <div class="more">
                    <button type="button" class="btn" data-max-id="{{e.id}}">Gimme More</button>
                </div>
                
            </div>
        </div>
    </div>
  
</div>


        
{{enddef}}

{{def three}}
<article>
</article>
<!--
Last feed refresh on {{last_checked_on}} UTC
-->
{{enddef}}



