{{inherit "site.html"}}

{{def container}}

<div class="container-inner">

<div class="grid-container">

  <div class="grid-50">
        <h1>Welcome to Coldsweat</h1>            
  </div>

  <br class="clear">

  <div class="grid-50">
        <section class="module">
            <div class="well well--large">
                <p class="_">Please enter your account credentials to proceed.</p>

                <form action="{{request.url}}" class="form-inline" method="POST">        
                        <input type="hidden" name="from" value="{{from_url}}">
                        <fieldset>
<!--                             <label for="username">Username</label>  -->
                            <input type="text" id="username" name="username" placeholder="Username" class="input-large"  value="{{username}}" size="30">                
<!--                             <label for="password">Password</label>  -->
                            <input type="password" id="password" name="password" placeholder="Password" class="input-large" value="{{password}}" size="30">
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </fieldset> 
                </form>
            </div>
        </section>
  </div>


  <div class="grid-50">
        <section class="module">
            <div class="well well--large well--dim">


                <h2>Don’t You Have an Account?</h2>
                
                <p class="_">Run the <i>sweat</i> command-line utility:</p>             
                <p><code>python sweat.py setup -u johndoe</code></p>
    
    
            </div>
        </section>
  </div>

  <hr>

  <div class="grid-50">
        
        <section class="boxed">


            <div class="well well--large well--dim">

                <h2>Current Status</h2>
                
<!--                 Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. -->


                <table class="table">
                  <tbody>
<!--
                      <tr>
                          <td>Overall health</td>
                          <td class=""><i class="icon-heart"></i>&ensp;Good</td>
                      </tr>   
-->                     

                      <tr>
                          <td>Last refresh</td>
                          <td class="">{{last_checked_on}}</td>
                      </tr>                        
    
                      <tr>
                          <td>Active feeds</td>
                          <td><b>{{active_feed_count}}</b></td>
                      </tr>                        
    
                      <tr>
                          <td>Unread entries</td>
                          <td><b>{{unread_count}}</b></td>
                      </tr>                        
    
                  </tbody>        
                </table>
          
            </div>
                              
        </section>
      
  </div>  
  
  <div class="grid-50">
        
        <section class="boxed">

            <div class="well well--large well--dim">
                <h2>Configure Your Feed Reader</h2>
                
                <p>Sync with Coldsweat using the address below:</p>            
                <p><code>{{request.application_url}}/fever</code></p>
                
                <div>
                    <a class="btn" href="{{application_url}}/guide">See the Step by Step Guide</a>
                </div>
            </div>

                              
        </section>
      
  </div>

 

<!-- /grid-container -->
</div>

<!-- /container-inner -->
</div>

{{enddef}}


{{def page_script_block}}
<script>
head.js(
// Libraries
"{{static_url}}/javascripts/vendor/modernizr-min.js",
"{{static_url}}/javascripts/vendor/jquery-min.js",
function() {
   // Load complete
   $('#username').focus();
});
</script>
{{enddef}}
