<!doctype html>
<!-- 
This is Coldsweat {{version_string}}
URL: http://lab.passiomatic.com/coldsweat/
-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{page_title}} — Coldsweat</title>
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- For all browsers -->
<link rel='stylesheet' href='{{static_url}}/stylesheets/all.css?{{version_string}}'>
<!--[if (lt IE 9) & (!IEMobile)]>
<script src='{{static_url}}/javascripts/vendor/selectivizr-min.js'></script>
<link rel='stylesheet' href='{{static_url}}/stylesheets/lte-ie8.css'>
<![endif]-->
<script src='{{static_url}}/javascripts/vendor/head.load.min.js'></script>
<link rel="shortcut icon" href="{{static_url}}/favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="{{static_url}}/images/apple-touch-icon.png">
<!--iOS -->
<meta name="apple-mobile-web-app-title" content="Coldsweat">
<!-- <meta name="viewport" content="initial-scale=1.0"> (Use if apple-mobile-web-app-capable below is set to yes) -->
<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
<!-- Windows 8 / RT -->
<meta name="msapplication-TileImage" content="{{static_url}}/images/apple-touch-icon.png">
<!-- <meta name="msapplication-TileColor" content="#000"> -->
{{self.get.head_block}}
</head>
<body tabindex="1"> <!-- Make focusable -->

<div class="container">
    {{alert_message}}
    {{self.container_block}}
    <footer role="contentinfo">    
        <div class="payoff">Coldsweat&ensp;<i title="Loves" class="fa fa-heart"></i>&ensp;Your Feeds</div>
        <div class="credits dim">
            &copy; 2013&ndash; <a target="_blank" href="http://passiomatic.com/">Andrea Peltrin</a>&emsp;<a href="{{application_url}}/guide">Configure Your Feed Reader</a>&emsp;<a href="{{application_url}}/about">About</a>
        </div>
    </footer>
</div><!-- container -->

<script>
window.applicationURL = '{{application_url}}';
</script>
<!-- Load libraries -->
{{self.get.page_script_block}}
</body>
</html>






