<!doctype html>
<!-- 
Coldsweat {{version_string}} — http://lab.passiomatic.com/coldsweat/
-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{page_title}} — Coldsweat</title>
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- For all browsers -->
<link rel='stylesheet' href='{{static_url}}/stylesheets/all.css?{{version_string}}'>
<!--[if (lt IE 9) & (!IEMobile)]>
<script src='{{static_url}}/javascripts/vendor/selectivizr-min.js'></script>
<link rel='stylesheet' href='{{static_url}}/stylesheets/lte-ie8.css'>
<![endif]-->
<link rel="shortcut icon" href="{{static_url}}/favicon.ico">
<link rel="shortcut icon" href="{{static_url}}/favicon.png" sizes="32x32">
<link rel="apple-touch-icon" sizes="152x152" href="{{static_url}}/images/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="Coldsweat">
<meta name="msapplication-TileImage" content="{{static_url}}/images/tile-icon.png">
<meta name="msapplication-TileColor" content="#fff">
<script src='{{static_url}}/javascripts/vendor/head.load.min.js'></script>
{{self.get.head_block}}
</head>
<body tabindex="1"> <!-- Make focusable -->

<div class="container">
    {{alert_message|alert}}
    {{self.container_block}}
    <footer role="contentinfo">    
        <div class="payoff">Coldsweat&ensp;<i title="Loves" class="fa fa-heart"></i>&ensp;Your Feeds</div>
        <div class="credits dim">
            &copy; 2013&ndash;2014 <a target="_blank" href="http://passiomatic.com/">Andrea Peltrin</a><!-- &emsp;<a href="{{application_url}}/guide">Configure Your Feed Reader</a> -->&emsp;<a data-remote-modal href="{{application_url}}/cheatsheet">Cheatsheet</a>
        </div>
    </footer>
</div><!-- container -->

<script>
window.applicationURL = '{{application_url}}';
head.js(
// Libraries
"{{static_url}}/javascripts/vendor/modernizr-min.js",
"{{static_url}}/javascripts/vendor/jquery-min.js",

// Load bootstrap-transition first so that nice glides/fades 
// etc for the other bootstrap plugins work
"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-transition.js",
"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-tooltip.js",

// Popover has a dependency on tooltip, so make sure and include 
// bootstrap-tooltip regardless in order for popovers to work
//"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-popover.js",
"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-modal.js",
//"javascripts/vendor/bootstrap/bootstrap-collapse.js",
"{{static_url}}/javascripts/vendor/bootstrap/bootstrap-dropdown.js",

// Plugins
"{{static_url}}/javascripts/plugins.js",

// App scripts
"{{static_url}}/javascripts/app.js?{{version_string}}"
);
</script>
{{self.get.page_script_block}}
</body>
</html>






