<!doctype html>

<!-- 
Coldsweat by Andrea Peltrin
URL: http://lab.passiomatic.com/coldsweat/
-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">
<title>{{page_title}} &middot; Coldsweat</title>
<meta NAME="robots" CONTENT="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="">
<meta name="author" content="Andrea Peltrin">

<!-- For all browsers -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:500italic,500,400italic,400' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='{{static_url}}/stylesheets/all.css'>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src='{{static_url}}/javascripts/vendor/selectivizr-min.js'></script>
<link rel='stylesheet' href='{{static_url}}/stylesheets/lte-ie8.css'>
<![endif]-->

<!-- JavaScript -->
<script src='{{static_url}}/javascripts/vendor/head.load.min.js'></script>

<link rel="shortcut icon" href="{{static_url}}/images/favicon.ico">
<!-- <link rel="shortcut icon" href="{{static_url}}/images/favicon.png"> -->
<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{static_url}}/images/apple-touch-icon.png"> -->
<!--iOS -->
<!-- <meta name="apple-mobile-web-app-title" content="Coldsweat"> -->
<!-- <meta name="viewport" content="initial-scale=1.0"> (Use if apple-mobile-web-app-capable below is set to yes) -->
<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
<!-- Windows 8 / RT -->
<!-- <meta name="msapplication-TileImage" content="coldsweat/images/apple-touch-icon.png"> -->
<!-- <meta name="msapplication-TileColor" content="#000"> -->
</head>
<body  tabindex="1">

<div class="container">

    {{alert_message}}

    <section class="panel panel-1">
        <header>             
            <div class="branding">
                <i class="icon-tint"></i> Coldsweat
            </div>
            <nav  role="navigation">
                {{self.one}}
            </nav>  
        </header>   
    </section>
        
    <section  class="panel panel-2">
            {{self.two}}
    </section>

    <section class="panel panel-3">
        
        {{self.three}}        
        
        <footer role="contentinfo">

          <dl class="">
                <dt>Navigation</dt>
                <dd><kbd>j</kbd>&ensp;Previous Item 
                </dd>
                <dd><kbd>k</kbd>&ensp;Next Item 
                </dd>
                <dt>Actions</dt>
                <dd><kbd>o</kbd>&ensp;Open Item  
                </dd>
                <dd><kbd>m</kbd>&ensp;Mark Item as Read 
                </dd>
                <dd><kbd>s</kbd>&ensp;Star Item 
                </dd>
            </dl>

 

            <div class="payoff">Coldsweat&ensp;<i title="Loves" class="icon-heart"></i>&ensp;Your Feeds</div>
            <div class="credits dim">&copy; 2013&ndash; <a target="_blank" href="http://passiomatic.com/">Andrea Peltrin</a> &middot; <a href="README.md">About</a> &middot; <a href="LICENSE.md">License</a> &middot; <a target="_blank" href="https://github.com/passiomatic/coldsweat">Source Code</a></div>
        </footer>

    </section>
    
</div><!-- container -->

<!-- Load libraries -->
<script>
head.js(
// Place scripts to be loaded here, in the order the need to be executed
// Typically libraries are needed first, such as jQuery (as the plugins 
// depend on jQuery to execute). The below configuration is what Rock 
// Hammer uses, but customise this for your own needs.
// Notice the use of @path here. This is because we need the file names, 
// not the script tags being generated. Ensure all filenames you wish
// head.js to load are surrounded with quotes. Also, this is a list, so
// ensure that all but the last item are followed by a comma.

// Libraries
"{{static_url}}/javascripts/vendor/modernizr-min.js",
"{{static_url}}/javascripts/vendor/jquery-min.js",

// Plugins
"{{static_url}}/javascripts/plugins.js",

// Load bootstrap-transition first so that nice glides/fades 
// etc for the other bootstrap plugins work
//"javascripts/vendor/bootstrap/bootstrap-transition.js",
//"javascripts/vendor/bootstrap/bootstrap-carousel.js",
//"javascripts/vendor/bootstrap/bootstrap-tooltip.js",

// Popover has a dependency on tooltip, so make sure and include 
// bootstrap-tooltip regardless in order for popovers to work
//"javascripts/vendor/bootstrap/bootstrap-popover.js",
//"javascripts/vendor/bootstrap/bootstrap-modal.js",
//"javascripts/vendor/bootstrap/bootstrap-collapse.js",

// App scripts
"{{static_url}}/javascripts/app.js"
);

// Google Analytics code
// Set your account ID appropriately by replacing UA-XXXXX-X
/*
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
*/
</script>
</body>
</html>






